---
layout: text-page
title: Donate
permalink: donate
description: Donation page for Software Compare
titledesc: Software Compare - Donate
---

    <h1>Donate</h1>
    <p>
        Support us in our mission of helping the public make more informed 
        choices about the software they use in the areas of privacy, convenience, 
        ethics, and more. By donating, you help us create more detailed and accurate 
        charts as well as speed up development for new categories, comparison criteria 
        and services.
    </p>

    <h2 class="donation-button" style="
        background-color: rgb(255, 208, 0); 
        display: block; 
        margin: 2.5rem auto 0 auto;
        ">
        <img src="/images/donation-page/heart-icon.webp" alt="heart icon">
        {% include link text="Become a Sponsor" link="https://liberapay.com/davidcollini" %}
    </h2>

    <p style="width: 85%; text-align: center; margin: 1rem auto 2rem auto;">
        Sponsoring the project allows for your brand to be displayed on the site's homepage. 
        We prohibit organizations with products on our site from sponsoring us to avoid a 
        conflict of interest.
    </p>

    <h2>Donation Platforms</h2>
    <h3 class="donation-button" style="
        background: #833AB4;
        background: linear-gradient(164deg, rgba(131, 58, 180, 1) 0%, rgba(174, 58, 180, 1) 68%, rgba(252, 133, 69, 1) 100%);">
        <img src="/images/logos/brave-logo.webp" alt="Brave logo">
        {% include link text="Brave Creators" link="https://publishers.basicattentiontoken.org/en/c/xQ6QUepSXc" %}
    </h3>
    <h3 class="donation-button" style="background-color: black;">
        <img src="/images/social-media-icons/github-logo.png" alt="Github logo">
        {% include link text="Github Sponsors" link="https://github.com/sponsors/davidcollini" color="white" %}
    </h3>

    <h3 class="donation-button" style="background-color: rgb(246, 201, 21);">
        <img src="/images/donation-page/liberapay-logo" alt="Liberapay logo">
        {% include link text="Liberapay" link="https://liberapay.com/davidcollini" %}
    </h3>

    <h3 class="donation-button" style="background-color: rgb(255, 133, 19);">
        <img src="/images/donation-page/xmrchat-logo.png" alt="XMRchat logo">
        {% include link text="XMRchat" link="https://xmrchat.com/softwarecompare" %}
    </h3>

    <h2>
        <br />Cryptocurrency
    </h2>

    <div class="donation-dropdown" style="max-width: 8.5rem; 
        background-color: rgb(117, 117, 117);
        color: white;
        ">
        <h3>
            <img src="/images/donation-page/monero-logo.png" alt="Monero logo" style="border-radius: 50%;">
            Monero
        </h3>
        <p class="code">
            <img src="/images/crypto-qr-codes/monero-address-swc.webp" alt="QR code for Monero address">
            <br />
            4A8xBr1jMhV84wdVRHCwCs1293quJrwC8jAtJkrqKzDKJZhw33V2g26YDe7wbiuQy7KkaEY8B6YYoBdB3auTfXZiUwLLj5q
        </p>
    </div>

    <div class="donation-dropdown" style="max-width: 12.5rem;
        background-color: rgb(255, 218, 95);
        color: black;">
        <h3>
            <img src="/images/donation-page/zcash-logo.png" alt="ZCash logo">
            Shielded ZCash
        </h3>
        <p class="code">
            <img src="/images/crypto-qr-codes/shielded-zcash-address-swc.png" alt="QR code for Shielded ZCash address">
            <br />
            u1r9afz4kjllvf49edxquh2x9r2eh2ne9q29wa9a9h5jsy8z9thgc3dlrpphxg930vpy2722gw2ke977ed47r4mmhfhts342zuqu5mh008
        </p>
    </div>

    <div class="donation-dropdown" style="max-width: 12.2rem;
        background-color: rgb(110, 139, 175);">
        <h3>
            <img src="/images/donation-page/litecoin-logo.png" alt="Litecoin logo">
            Litecoin MWEB
        </h3>
        <p class="code">
            <img src="/images/crypto-qr-codes/bitcoin-silent-payment-swc.webp" alt="QR code for Litecoin MWEB address">
            <br />
            ltcmweb1qq09xjylkspy5yx034ktr5r7fu7axkjha295r4tuk7ffxzqxkrk09cq6q6hyeve46954h540rxdwuufnpjrsun7jj452rqalgdme4wsjdnqm2h4wz
        </p>
    </div>

    <div class="donation-dropdown" style="max-width: 8rem;
        background-color: black;
        color: white;
        ">
        <h3>
            <img src="/images/donation-page/solana-logo.png" alt="Solana logo">
            Solana
        </h3>
        <p class="code">
            <img src="/images/crypto-qr-codes/solana-address-swc.png" alt="QR code for Solana address">
            <br />
            H6YUBzk26tskjs1CtbirtNVzKAjygpFYmKdpBV2k3s6y
        </p>
    </div>

    <div class="donation-dropdown" style="max-width: 9.5rem; 
        background-color: rgb(165, 197, 241);
        color: black;">
        <h3>
            <img src="/images/donation-page/ethereum-logo.png" alt="Ethereum logo">
            Ethereum
        </h3>
        <p class="code">
            <img src="/images/crypto-qr-codes/ethereum-address-swc.png" alt="QR code for Ethereum address">
            <br />
            0x3c06C4554E06112d4130d32C23170e2c5e46Ef46
        </p>
    </div>

    <div class="donation-dropdown" style="
        background-color: rgb(255, 185, 100);
        color: black;">    
        <h3>
            <img src="/images/donation-page/bitcoin-logo.webp" alt="Bitcoin logo">
            Bitcoin via Silent Payment
        </h3>
        <p class="code">
            <img src="/images/crypto-qr-codes/bitcoin-silent-payment-swc.webp" alt="QR code for Bitcoin Silent Payments address">
            <br />
            sp1qqt58z382yytymjtwtp5rpcsvl24em5lwgrfx5t8nextew32czmtj5ql6c3cq33kzuhjedc745wv2tg2nkrq462sm4yukd20tjemlx9tumuu8a75x
        </p>
    </div>

    <!-- # Could potentially add merch here :O (via hellotux.com) -->

    <h2 style="margin-top: 4rem;">
        Non-Monetary ways to help
    </h2>
    <p>
        Software Compare takes a lot of effort to maintain and update, 
        so we appreciate any help you can offer! 
        <br /><br />Some ways to help are:
    </p>
    <ul>
        <li>
            Fact check the site and open a 
            {% include link text="Github issue" link="https://github.com/SoftwareCompare/SoftwareCompare/issues" %} 
            or {% include link text="pull request" link="https://github.com/SoftwareCompare/SoftwareCompare/pulls" %}
            so we can ensure accuracy of our information.
        </li>
        <li>
            Join our 
            {% include link text="Matrix" link="https://matrix.to/#/#softwarecompare:matrix.org" %},
            {% include link text="Discord" link="https://discord.gg/SvZXsWaT2w" %}
            or other socials to help answer
            questions and interact with the community.
        </li>
        <li>
            If you are a graphic designer or programmer, and see anything 
            that can be simplified or improved, 
            <a href="contact.html">reach out</a>
            and we can discuss further.
        </li>
    </ul>
