---
layout: comparison
title: Email Service
permalink: email-services
link-preview: ./images/link-previews/music-app-comparison.webp
description: Comparisons of email services to find one that works for you
titledesc: Find an email service that works for you
---

<table>
    <thead>
        <tr>
        <td id="paid-services"><a href="#paid-services">
            <h2>Free Services</h2>
            </a>
        </td>
        <th>
            {% include link 
                text='<img style="border-radius: 0;" src="../images/logos/gmail-logo.png" alt="Gmail Logo"><br />
                Gmail' 
                link="https://mail.google.com/mail" 
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/icloud-mail-logo.webp" alt="iCloud mail Logo"><br />
                iCloud' 
                link='https://www.icloud.com/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/outlook-logo.webp" alt="Outlook Logo"><br />
                Outlook'
                link='https://outlook.live.com/mail/0/'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/protonmail-logo.png" alt="Proton Mail Logo"><br />
                Proton'
                link='https://proton.me/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/tuta-mail-logo.webp" alt="Tuta Mail Logo"><br />
                Tuta'
                link='https://tuta.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/yahoo-mail-logo.png" alt="Yahoo Mail Logo"><br />
                Yahoo'
                link='https://mail.yahoo.com'
            %}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th>
                {% include link text="iOS" link="https://apps.apple.com/us/app/gmail-email-by-google/id422689480" %}<br />
                {% include link text="Android" link="https://play.google.com/store/apps/details?id=com.google.android.gm&hl=en_US" %}<br />
                & {% include link text="Web" link="https://workspace.google.com/intl/en-US/gmail/" %}
            </th>
            <th>
                {% include link text="Apple<br />Devices" link="https://apps.apple.com/us/app/mail/id1108187098" %}<br />
                & {% include link text="Web" link="https://www.icloud.com/mail" %}
            </th>
            <th>
                {% include link text="MacOS" link="https://apps.apple.com/us/app/microsoft-outlook/id985367838?mt=12" %}<br />
                {% include link text="Windows" link="https://apps.microsoft.com/detail/9nrx63209r7b?hl=en-US&gl=US" %}<br />
                {% include link text="Mobile" link="https://apps.apple.com/us/app/microsoft-outlook/id951937596" %}<br />
                & {% include link text="Web" link="https://www.microsoft.com/en-us/microsoft-365/outlook/email-and-calendar-software-microsoft-outlook" %}
            </th>
            <th>
                {% include link text="Desktop<br />Mobile<br />& Web" link="https://proton.me/mail/download" %}
            </th>
            <th>
                {% include link text="Desktop<br />Mobile<br />& Web" link="https://tuta.com/#download" %}
            </th>
            <th>
                {% include link text="iOS" link="https://apps.apple.com/us/app/yahoo-mail/id577586159?mt=8" %}<br />
                {% include link text="Android" link="https://play.google.com/store/apps/details?id=com.yahoo.mobile.client.android.mail" %}<br />
                & {% include link text="Web" link="https://mail.yahoo.com" %}
            </th>
        </tr>
        <tr>
            <th class="left-col">Privacy</th>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
                App
            </td>
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include check link="https://github.com/ProtonMail" %}
            {% include check link="https://github.com/tutao/tutanota" %}
            {% include cross %}
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
                Server
            </td>
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
        </tr>
        <tr class="checker_row">
            <td>
                End-to-End Encryption Support
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include check %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Default PGP
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include check %}
            <th>-</th>
            <th>-</th>
        </tr>
        <tr class="checker_row">
            <td>
                Password Protected Message Support
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include check %}
            {% include check %}
            <th>-</th>
        </tr>
        <tr class="checker_row">
            <td>
                Subject Line Encryption
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include check %}
            <th>-</th>
        </tr>
        <tr class="checker_row">
            <td>
                Metadata Protection
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Ad & Tracker Blocker
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Email Required
            </td>
            {% include check %}
            {% include cross %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                No Phone Number Required
            </td>
            {% include cross %}
            {% include cross %}
            {% include check %}
        </tr>
        <tr>
            <th class="left-col">Security</th>
        </tr>
        <tr class="checker_row">
            <td>
                Key Verification
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include check link="https://proton.me/support/key-transparency" %}
            {% include check link="https://tuta.com/blog/key-verification" %}
        </tr>
        <tr class="checker_row">
            <td>
                Forward Secrecy
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include cross %}
            {% include cross tooltip="Planned to be supported sometime in the future" link="https://tuta.com/security" %}
        </tr>
        <tr>
            <th class="left-col">Trust</th>
        </tr>
        <tr class="checker_row">
            <td>
                Independent Security Audit
            </td>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            {% include check link="https://proton.me/blog/openpgpjs-protonmail-security-audit" %}
            {% include cross tooltip="Only internal security reviews" link="https://github.com/tutao/tutanota/issues/2787" %}
        </tr>
        <tr class="checker_row">
            <td>
                Transparency Report
            </td>
            {% include check link="https://transparencyreport.google.com" %}
            {% include check link="https://www.apple.com/legal/transparency" %}
            {% include check link="https://www.microsoft.com/en-us/corporate-responsibility/reports/government-requests/customer-data" %}
            {% include check link="https://proton.me/legal/transparency" %}
            {% include check link="https://tuta.com/blog/transparency-report" %}
        </tr>
        <tr>
            <th class="left-col">Convenience</th>
        </tr>
        <tr class="checker_row">
            <td>
                Auto-Clear Trash
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Unsend Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Edit Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Schedule Send
            </td>
        </tr>
        <tr>
            <th class="left-col">Ethics</th>
        </tr>
        <tr class="checker_row">
            <td>
                Donates to Charity
            </td>
            {% include check link="https://www.google.org/billion-commitment-to-create-more-opportunity" %}
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Neutral
            </td>
            {% include cross tooltip='<a href="https://sustainability.google/operating-sustainably/net-zero-carbon" target="_blank" rel="noopener noreferrer">Plans to by 2030</a>, but <a href="https://finance.yahoo.com/news/ai-destroyed-google-promise-carbon-214145116.html" target="_blank" rel="noopener noreferrer"> emissions have been increasing</a>' %}
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Negative
            </td>
            {% include cross %}
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
        <td id="paid-services"><a href="#paid-services">
            <h2>Paid Services</h2>
            </a>
        </td>
        <th>
            {% include link 
                text='<img style="border-radius: 0;" src="../images/logos/gmail-logo.png" alt="Gmail Logo"><br />
                Gmail' 
                link="https://mail.google.com/mail" 
            %}
        </th>
        <th>
            {% include link    
                text='<img src="../images/logos/fastmail-logo.png" alt="Fastmail Logo"><br />
                Fastmail'
                link='https://www.fastmail.com/'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/icloud-mail-logo.webp" alt="iCloud mail Logo"><br />
                iCloud' 
                link='https://www.icloud.com/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/mailboxorg-logo.svg" alt="mailbox.org Logo"><br />
                mailbox.org'
                link='https://mailbox.org'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/outlook-logo.webp" alt="Outlook Logo"><br />
                Outlook'
                link='https://outlook.live.com/mail/0/'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/protonmail-logo.png" alt="Proton Mail Logo"><br />
                Proton'
                link='https://proton.me/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/startmail-logo.jpeg" alt="StartMail Logo"><br />
                StartMail'
                link='https://www.startmail.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/tuta-mail-logo.webp" alt="Tuta Mail Logo"><br />
                Tuta'
                link='https://tuta.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/yahoo-mail-logo.png" alt="Yahoo Mail Logo"><br />
                Yahoo'
                link='https://mail.yahoo.com'
            %}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th>
                {% include link text="iOS" link="https://apps.apple.com/us/app/gmail-email-by-google/id422689480" %}<br />
                {% include link text="Android" link="https://play.google.com/store/apps/details?id=com.google.android.gm&hl=en_US" %}<br />
                & {% include link text="Web" link="https://workspace.google.com/intl/en-US/gmail/" %}
            </th>
            <th>
                {% include link text="iOS" link="https://apps.apple.com/us/app/fastmail-email-calendar/id931370077" %}<br />
                {% include link text="Android" link="https://play.google.com/store/apps/details?id=com.fastmail.app" %}<br />
                & {% include link text="Web" link="https://www.fastmail.com" %}
            </th>
            <th>
                {% include link text="Apple<br />Devices" link="https://apps.apple.com/us/app/mail/id1108187098" %}<br />
                & {% include link text="Web" link="https://www.icloud.com/mail" %}
            </th>
            <th>
                {% include link text="Web" link="https://mailbox.org" %}
            </th>
            <th>
                {% include link text="MacOS" link="https://apps.apple.com/us/app/microsoft-outlook/id985367838?mt=12" %}<br />
                {% include link text="Windows" link="https://apps.microsoft.com/detail/9nrx63209r7b?hl=en-US&gl=US" %}<br />
                {% include link text="Mobile" link="https://apps.apple.com/us/app/microsoft-outlook/id951937596" %}<br />
                & {% include link text="Web" link="https://www.microsoft.com/en-us/microsoft-365/outlook/email-and-calendar-software-microsoft-outlook" %}
            </th>
            <th>
                {% include link text="Desktop<br />Mobile<br />& Web" link="https://proton.me/mail/download" %}
            </th>
            <th>
                {% include link text="Web" link="https://www.startmail.com" %}
            </th>
            <th>
                {% include link text="Desktop<br />Mobile<br />& Web" link="https://tuta.com/#download" %}
            </th>
            <th>
                {% include link text="iOS" link="https://apps.apple.com/us/app/yahoo-mail/id577586159?mt=8" %}<br />
                {% include link text="Android" link="https://play.google.com/store/apps/details?id=com.yahoo.mobile.client.android.mail" %}<br />
                & {% include link text="Web" link="https://mail.yahoo.com" %}
            </th>
        </tr>
        <tr>
            <th class="left-col">Privacy</th>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Default End-to-End Encryption
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Encryption cannot be disabled
            </td>
        </tr>
        <!-- <tr class="checker_row">
            <td>
                Default Encrypted Backups
            </td>

        </tr>
        <tr class="checker_row">
            <td>
                Encrypted Backup Support
            </td>

        </tr> -->
        <tr class="checker_row">
            <td>
                Perfect Forward Secrecy
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Metadata Protection
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Email Required
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Phone Number Required
            </td>
        </tr>
        <tr>
            <th class="left-col">Trust</th>
        </tr>
        <tr class="checker_row">
            <td>
                Independent Security Audit
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Transparency Report
            </td>
        </tr>
        <tr>
            <th class="left-col">Independence</th>
        </tr>
        <tr class="checker_row grayrow">
            <td>
                Decentralized Infrastructure
            </td>
        </tr>
        <tr>
            <th class="left-col">Freedom</th>
        </tr>
        <tr class="checker_row grayrow">
            <td>
                Send Over Bluetooth
            </td>
        </tr>
        <tr>
            <th class="left-col">Convenience</th>
        </tr>
        <tr class="checker_row">
            <td>
                Message Reply
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Unsend Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Edit Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Schedule Send
            </td>
        </tr>
        <tr>
            <th class="left-col">Ethics</th>
        </tr>
        <tr class="checker_row">
            <td>
                Donates to Charity
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Neutral
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Negative
            </td>
        </tr>
    </tbody>
</table>