---
layout: comparison
title: Email Service
permalink: email-services
link-preview: ./images/link-previews/music-app-comparison.webp
description: Comparisons of email services to find one that works for you
titledesc: Find an email service that works for you
---

<table>
    <thead>
        <tr>
        <td id="paid-services"><a href="#paid-services">
            <h2>Free Services</h2>
            </a>
        </td>
        <th>
            {% include link 
                text='<img style="border-radius: 0;" src="../images/logos/gmail-logo.png" alt="Gmail Logo"><br />
                Gmail' 
                link="https://mail.google.com/mail" 
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/icloud-mail-logo.webp" alt="iCloud mail Logo"><br />
                iCloud' 
                link='https://www.icloud.com/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/outlook-logo.webp" alt="Outlook Logo"><br />
                Outlook'
                link='https://outlook.live.com/mail/0/'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/protonmail-logo.png" alt="Proton Mail Logo"><br />
                Proton'
                link='https://proton.me/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/tuta-mail-logo.webp" alt="Tuta Mail Logo"><br />
                Tuta'
                link='https://tuta.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/yahoo-mail-logo.png" alt="Yahoo Mail Logo"><br />
                Yahoo'
                link='https://mail.yahoo.com'
            %}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th>
                {% include link text="iOS,
                " link="https://briarproject.org/download-briar" %}<br />
                {% include link text="Android" link="https://briarproject.org/download-briar" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
            <th>
                {% include link text="Apple<br />Devices" link="https://apps.apple.com/us/app/messages/id1146560473" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
            <th>
                {% include link text="MacOS" link="https://signal.org/download" %}<br />
                {% include link text="Windows" link="https://signal.org/download" %}<br />
                {% include link text="Mobile" link="https://signal.org/download" %}<br />
                & {% include link text="Web" link="https://signal.org/download" %}
            </th>
            <th>
                {% include link text="Desktop,<br />Mobile,<br />& Web" link="https://proton.me/mail/download" %}
            </th>
            <th>
                {% include link text="Desktop,<br />Mobile,<br />& Web" link="https://tuta.com/#download" %}
            </th>
            <th>
                {% include link text="iOS," link="https://briarproject.org/download-briar" %}<br />
                {% include link text="Android" link="https://briarproject.org/download-briar" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
        </tr>
        <tr>
            <th class="left-col">Privacy</th>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
                App
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
                Server
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Default End-to-End Encryption
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Encryption cannot be disabled
            </td>
        </tr>
        <!-- <tr class="checker_row">
            <td>
                Default Encrypted Backups
            </td>

        </tr>
        <tr class="checker_row">
            <td>
                Encrypted Backup Support
            </td>

        </tr> -->
        <tr class="checker_row">
            <td>
                Perfect Forward Secrecy
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Metadata Protection
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Email Required
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Phone Number Required
            </td>
        </tr>
        <tr>
            <th class="left-col">Trust</th>
        </tr>
        <tr class="checker_row">
            <td>
                Independent Security Audit
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Transparency Report
            </td>
        </tr>
        <tr>
            <th class="left-col">Independence</th>
        </tr>
        <tr class="checker_row grayrow">
            <td>
                Decentralized Infrastructure
            </td>
        </tr>
        <tr>
            <th class="left-col">Freedom</th>
        </tr>
        <tr class="checker_row grayrow">
            <td>
                Send Over Bluetooth
            </td>
        </tr>
        <tr>
            <th class="left-col">Convenience</th>
        </tr>
        <tr class="checker_row">
            <td>
                Message Reply
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Unsend Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Edit Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Schedule Send
            </td>
        </tr>
        <tr>
            <th class="left-col">Ethics</th>
        </tr>
        <tr class="checker_row">
            <td>
                Donates to Charity
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Neutral
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Negative
            </td>
        </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
        <td id="paid-services"><a href="#paid-services">
            <h2>Paid Services</h2>
            </a>
        </td>
        <th>
            {% include link 
                text='<img style="border-radius: 0;" src="../images/logos/gmail-logo.png" alt="Gmail Logo"><br />
                Gmail' 
                link="https://mail.google.com/mail" 
            %}
        </th>
        <th>
            {% include link    
                text='<img src="../images/logos/fastmail-logo.png" alt="Fastmail Logo"><br />
                Fastmail'
                link='https://www.fastmail.com/'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/icloud-mail-logo.webp" alt="iCloud mail Logo"><br />
                iCloud' 
                link='https://www.icloud.com/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/mailboxorg-logo.svg" alt="mailbox.org Logo"><br />
                mailbox.org'
                link='https://mailbox.org'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/outlook-logo.webp" alt="Outlook Logo"><br />
                Outlook'
                link='https://outlook.live.com/mail/0/'
            %}
        </th>
        <th>
            {% include link
                text='<img style="border-radius: 0;" src="../images/logos/protonmail-logo.png" alt="Proton Mail Logo"><br />
                Proton'
                link='https://proton.me/mail'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/startmail-logo.jpeg" alt="StartMail Logo"><br />
                StartMail'
                link='https://www.startmail.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/tuta-mail-logo.webp" alt="Tuta Mail Logo"><br />
                Tuta'
                link='https://tuta.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/yahoo-mail-logo.png" alt="Yahoo Mail Logo"><br />
                Yahoo'
                link='https://mail.yahoo.com'
            %}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th>
                {% include link text="iOS,
                " link="https://briarproject.org/download-briar" %}<br />
                {% include link text="Android" link="https://briarproject.org/download-briar" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
            <th>
                {% include link text="iOS" link="https://briarproject.org/download-briar" %},<br />
                {% include link text="Android" link="https://briarproject.org/download-briar" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
            <th>
                {% include link text="Apple<br />Devices" link="https://apps.apple.com/us/app/messages/id1146560473" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
            <th>
                {% include link text="Web" link="https://getsession.org/download" %}
            </th>
            <th>
                {% include link text="MacOS" link="https://signal.org/download" %}<br />
                {% include link text="Windows" link="https://signal.org/download" %}<br />
                {% include link text="Mobile" link="https://signal.org/download" %}<br />
                & {% include link text="Web" link="https://signal.org/download" %}
            </th>
            <th>
                {% include link text="Desktop,<br />Mobile,<br />& Web" link="https://proton.me/mail/download" %}
            </th>
            <th>
                {% include link text="Web" link="https://getsession.org/download" %}
            </th>
            <th>
                {% include link text="Desktop,<br />Mobile,<br />& Web" link="https://tuta.com/#download" %}
            </th>
            <th>
                {% include link text="iOS," link="https://briarproject.org/download-briar" %}<br />
                {% include link text="Android" link="https://briarproject.org/download-briar" %}<br />
                & {% include link text="Web" link="https://briarproject.org/download-briar" %}
            </th>
        </tr>
        <tr>
            <th class="left-col">Privacy</th>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Default End-to-End Encryption
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Encryption cannot be disabled
            </td>
        </tr>
        <!-- <tr class="checker_row">
            <td>
                Default Encrypted Backups
            </td>

        </tr>
        <tr class="checker_row">
            <td>
                Encrypted Backup Support
            </td>

        </tr> -->
        <tr class="checker_row">
            <td>
                Perfect Forward Secrecy
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Metadata Protection
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Email Required
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                No Phone Number Required
            </td>
        </tr>
        <tr>
            <th class="left-col">Trust</th>
        </tr>
        <tr class="checker_row">
            <td>
                Independent Security Audit
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Transparency Report
            </td>
        </tr>
        <tr>
            <th class="left-col">Independence</th>
        </tr>
        <tr class="checker_row grayrow">
            <td>
                Decentralized Infrastructure
            </td>
        </tr>
        <tr>
            <th class="left-col">Freedom</th>
        </tr>
        <tr class="checker_row grayrow">
            <td>
                Send Over Bluetooth
            </td>
        </tr>
        <tr>
            <th class="left-col">Convenience</th>
        </tr>
        <tr class="checker_row">
            <td>
                Message Reply
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Unsend Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Edit Messages
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Schedule Send
            </td>
        </tr>
        <tr>
            <th class="left-col">Ethics</th>
        </tr>
        <tr class="checker_row">
            <td>
                Donates to Charity
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Neutral
            </td>
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Negative
            </td>
        </tr>
    </tbody>
</table>