---
layout: comparison
title: Messaging App
permalink: messaging-apps
link-preview: ./images/link-previews/music-app-comparison.webp
description: Comparisons of messaging apps to find one that works for you
titledesc: Find a messaging app that works for you
---

<table>
    <thead>
        <tr>
        <td>
        </td>
        <th>
            {% include link 
                text='<img src="../images/logos/briar-logo.png" alt="Briar Logo"><br />
                Briar' 
                link="https://briarproject.org" 
            %}
        </th>
        <th>
            {% include link    
                text='<img src="../images/logos/facebook-messenger-logo.png" alt="Facebook Messenger Logo"><br />
                FB Messenger'
                link='https://www.messenger.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/imessage-logo.png" alt="iMessage Logo"><br />
                iMessage' 
                link='https://apps.apple.com/us/app/messages/id1146560473'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/session-logo.png" alt="Session Logo"><br />
                Session'
                link='https://getsession.org'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/signal-logo.png" alt="Signal Logo"><br />
                Signal'
                link='https://signal.org'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/simplex-logo.png" alt="SimpleX Logo"><br />
                SimpleX'
                link='https://simplex.chat'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/threema-logo.webp" alt="Threema Logo"><br />
                Threema'
                link='https://threema.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/whatsapp-logo.webp" alt="WhatsApp Logo"><br />
                WhatsApp'
                link='https://www.whatsapp.com'
            %}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th>{% include link text="Android" link="https://briarproject.org/download-briar" %}</th>
            <th>
                {% include link text='Mac,<br />Windows' link='https://www.messenger.com/desktop' %}
                &<br />
                {% include link text='Mobile' link="https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en_US" %}
            </th>
            <th>{% include link text="Apple<br />Devices" link="https://apps.apple.com/us/app/messages/id1146560473" %}</th>
            <th>{% include link text="Desktop &<br />Mobile" link="https://getsession.org/download" %}</th>
            <th>{% include link text="Desktop &<br />Mobile" link="https://signal.org/download" %}</th>
            <th>{% include link text="Desktop &<br />Mobile" link="https://simplex.chat/downloads" %}</th>
            <th>{% include link text="Desktop,<br />Mobile &<br />Web" link="https://threema.com/en/download/threema-private" %}</th>
            <th>{% include link text="MacOS,<br />Windows,<br />Mobile & Web" link="https://www.whatsapp.com/download" %}</th>
        </tr>
        <tr>

        </tr>
        <tr>
            <th class="left-col">Privacy</th>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
            </td>
            {% include check link="https://code.briarproject.org/briar/briar" %}
            {% include cross %}
            {% include cross %}
            {% include check link="https://github.com/session-foundation" %}
            {% include check link="https://github.com/signalapp" %}
            {% include check link="https://github.com/simplex-chat/simplex-chat" %}
            {% include check link="https://github.com/threema-ch" %}
            {% include cross %}
        </tr>
        <tr class="checker_row">
            <td>
                End-to-End Encrypted
            </td>
            {% include check %}
            {% include dash tooltip="Group chats do not have end-to-end encryption by default" link="https://www.facebook.com/help/messenger-app/786613221989782" %}
            {% include check link="https://support.apple.com/guide/security/imessage-security-overview-secd9764312f/web" %}
            {% include check %}
            {% include check link="https://support.signal.org/hc/en-us/articles/360007320391-Is-it-private-Can-I-trust-it" %}
            {% include check %}
            {% include check link="https://threema.com/en/faq/why-secure" %}
            {% include check link="https://faq.whatsapp.com/820124435853543" %}
        </tr>
        <tr class="checker_row">
            <td>
                Perfect Forward Secrecy
            </td>
            {% include check link="https://nixfaq.org/2021/01/briar-epitome-of-anonymity-and-security-in-im-messengers.html" %}
            {% include check link="https://www.wired.com/2016/11/what-is-perfect-forward-secrecy" %}
            {% include check link="https://security.apple.com/blog/imessage-pq3" %}
            {% include cross link="https://getsession.org/faq#session-pfs" %}
            {% include check link="https://signal.org/blog/asynchronous-security" %}
            {% include check link="https://simplex.chat/#forward-secrecy" %}
            {% include check link="https://threema.com/en/faq/perfect_forward_secrecy" %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Metadata Protection
            </td>
            {% include check link="https://briarproject.org/privacy-policy" %}
            {% include cross link="https://www.facebook.com/privacy/policy" %}
            {% include cross link="https://support.apple.com/guide/security/how-imessage-sends-and-receives-messages-sec70e68c949/web" %}
            {% include check link="https://getsession.org/faq#identity-protection" %}
            {% include check link="https://signal.org/blog/sealed-sender" %}
            {% include check link="https://simplex.chat/#privacy-of-identity-contacts-metadata" %}
            {% include check link="https://threema.com/en/faq/privacy_protection" %}
            {% include cross link="https://www.whatsapp.com/legal/privacy-policy" %}
        </tr>
        <tr class="checker_row">
            <td>
                No Email Required
            </td>
            {% include check %}
            {% include dash tooltip="Requires an email or phone number" %}
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include dash tooltip="Requires an email or phone number" %}
        </tr>
        <tr class="checker_row">
            <td>
                No Phone Number Required
            </td>
            {% include check %}
            {% include dash tooltip="Requires an email or phone number" %}
            {% include cross %}
            {% include check %}
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include dash tooltip="Requires an email or phone number" %}
        </tr>
        <tr>
            <th class="left-col">Independence</th>
        </tr>
        <tr class="checker_row">
            <td>
                Send Over Bluetooth
            </td>
            {% include check link="https://briarproject.org/how-it-works" %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
        </tr>
        <tr>
            <th class="left-col">Trust</th>
        </tr>
        <tr class="checker_row">
            <td>
                Decentralized Infrastructure
            </td>
            {% include check link="https://briarproject.org/how-it-works" %}
            {% include cross %}
            {% include cross %}
            {% include check link="https://getsession.org/blog/migrating-from-the-oxen-network-to-session-network" %}
            {% include cross %}
            {% include check link="https://simplex.chat/#network" %}
            {% include cross %}
            {% include cross %}
        </tr>
        <tr>
            <th class="left-col">Convenience</th>
        </tr>
        <tr class="checker_row">
            <td>
                Voice Calls
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/1673374996287506" %}
            {% include check %}
            {% include check link="https://getsession.org/faq#calls" %}
            {% include check %}
            {% include check link="https://simplex.chat/docs/guide/audio-video-calls" %}
            {% include check link="https://threema.com/en/features" %}
            {% include check link="https://faq.whatsapp.com/1153602608602452" %}
        </tr>
        <tr class="checker_row">
            <td>
                Video Calls
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/1673374996287506" %}
            {% include check %}
            {% include check link="https://getsession.org/faq#calls" %}
            {% include check %}
            {% include check link="https://simplex.chat/docs/guide/audio-video-calls" %}
            {% include check link="https://threema.com/en/features" %}
            {% include check link="https://faq.whatsapp.com/1862285217468140" %}
        </tr>
        <tr class="checker_row">
            <td>
                Send while recipient is offline
            </td>
            {% include dash tooltip="App can run in the background, but if your contact imessages send  offline receiving is available with Briar Mailbox" %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Message Reactions
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/1602676269761759" %}
            {% include check %}
            {% include check %}
            {% include check link="https://support.signal.org/hc/en-us/articles/360039929972-Message-Reactions" %}
            {% include check %}
            {% include check link="https://threema.com/en/faq/agree-disagree-feature" %}
            {% include check link="https://faq.whatsapp.com/424198503229937" %}
        </tr>
        <tr class="checker_row">
            <td>
                Message Reply
            </td>
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check link="https://support.signal.org/hc/en-us/articles/6851465208986-Reply-to-a-specific-message" %}
            {% include check %}
            {% include check link="https://threema.com/en/faq/quote-feature" %}
            {% include check link="https://faq.whatsapp.com/3240283752856917" %}
        </tr>
        <tr class="checker_row">
            <td>
                Voice Messages
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/377884675632666" %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check link="https://simplex.chat/#features" %}
            {% include check link="https://threema.com/en/features" %}
            {% include check link="https://faq.whatsapp.com/657157755756612" %}
        </tr>
        <tr class="checker_row">
            <td>
                Typing Indicators
            </td>
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check link="https://support.signal.org/hc/en-us/articles/360020798451-Typing-Indicators" %}
            {% include cross %}
            {% include check %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Read Receipts
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/926389207386625" %}
            {% include check %}
            {% include check %}
            {% include check link="https://support.signal.org/hc/en-us/articles/360007059812-Read-Receipts" %}
            {% include cross %}
            {% include check %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Unsend Messages
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/194400311449172" %}
            {% include check %}
            {% include check %}
            {% include check link="https://support.signal.org/hc/en-us/articles/360050426432-Delete-for-everyone" %}
            {% include check %}
            {% include check link="https://threema.com/en/faq/editdelete" %}
            {% include check link="https://faq.whatsapp.com/1370476507114859" %}
        </tr>
        <tr class="checker_row">
            <td>
                Edit Messages
            </td>
            {% include cross %}
            {% include check link="https://www.facebook.com/help/messenger-app/349344207784626" %}
            {% include check %}
            {% include cross %}
            {% include check link="https://support.signal.org/hc/en-us/articles/6255134251546-Edit-Message" %}
            {% include check %}
            {% include check link="https://threema.com/en/faq/editdelete" %}
            {% include check link="https://faq.whatsapp.com/6614640168569481" %}
        </tr>
        <tr class="checker_row">
            <td>
                Send polls
            </td>
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include check link="https://threema.com/en/faq/poll" %}
            {% include check link="https://faq.whatsapp.com/796470361614974" %}
        </tr>
        <tr class="checker_row">
            <td>
                Disappearing Messages
            </td>
            {% include check %}
            {% include dash tooltip="Only for photos and videos on Android and iOS" link="https://www.facebook.com/help/messenger-app/1692866107948379" %}
            {% include cross %}
            {% include check link="https://getsession.org/faq#disappearing-messages" %}
            {% include check link="https://support.signal.org/hc/en-us/articles/360007320771-Set-and-manage-disappearing-messages" %}
            {% include check link="https://simplex.chat/#features" %}
            {% include cross %}
            {% include check link="https://faq.whatsapp.com/673193694148537" %}
        </tr>
        <tr class="checker_row">
            <td>
                Schedule Send
            </td>
            {% include cross %}
            {% include cross %}
            {% include check %}
            {% include cross %}
            {% include dash tooltip="Only on Android" link="https://support.signal.org/hc/en-us/articles/5365881590682-Schedule-a-Message-on-Signal-Android" %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
        </tr>
        <tr class="checker_row">
            <td>
                Gif Support
            </td>
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include cross %}
            {% include cross link="https://threema.com/en/faq/gifs" %}
            {% include check link="https://faq.whatsapp.com/674208810641277" %}
        </tr>
        <tr>
            <th class="left-col">Ethics</th>
        </tr>
        <tr class="checker_row">
            <td>
                Donates to Charity
            </td>
            {% include dash tooltip="Briar has no source of income, and instead is funded by grants" link="https://briarproject.org/about" %}
            {% include cross %}
            {% include check link="https://www.apple.com/newsroom/2021/12/apple-marks-a-year-of-giving-in-the-communities-it-calls-home" %}
            {% include dash tooltip="Developed by the Session Technology Foundation, a Swiss non-profit. Donate Here" link="https://session.foundation/donate" %}
            {% include dash tooltip="The Session Foundation is a non-profit that runs off of donations. Donate Here" link="https://signal.org/donate" %}
            {% include cross tooltip="Backed by VC funding, private investors and donations. Donate Here" link="https://simplex.chat/faq/#how-are-you-funded" %}
            {% include cross tooltip="Offers special deals for public institutions and 30% off for non-profits" link="https://threema.com/en/faq/nonprofit" %}
            {% include cross %}
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Neutral
            </td>
            {% include cross tooltip="No central servers so energy all goes through user's devices" %}
            {% include cross tooltip="Committed to reaching net zero by 2030" link="https://sustainability.fb.com/wp-content/uploads/2023/07/Meta-2023-Path-to-Net-Zero.pdf" %}
            {% include cross tooltip="Plans to by 2030" link="https://www.apple.com/environment" %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross tooltip="Committed to reaching net zero by 2030" link="https://sustainability.fb.com/wp-content/uploads/2023/07/Meta-2023-Path-to-Net-Zero.pdf" %}
        </tr>
        <tr class="checker_row">
            <td>
                Carbon Negative
            </td>
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
            {% include cross %}
        </tr>
    </tbody>
</table>