---
layout: comparison
title: Messaging App
permalink: messengers
link-preview: ./images/link-previews/music-app-comparison.webp
description: Comparisons of messaging apps to find one that works for you
titledesc: Find a messaging app that works for you
---

<table>
    <thead>
        <tr>
        <td id="Free-Services"><a href="#Free-Services">
            <h2></h2></a>
        </td>
        <th>
            {% include link 
                text='<img src="../images/logos/briar-logo.png" alt="Briar Logo"><br />
                Briar' 
                link="https://briarproject.org" 
            %}
        </th>
        <th>
            {% include link    
                text='<img src="../images/logos/facebook-messenger-logo.png" alt="Facebook Messenger Logo"><br />
                Facebook'
                link='https://www.messenger.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/imessage-logo.png" alt="iMessage Logo"><br />
                iMessage' 
                link='https://apps.apple.com/us/app/messages/id1146560473'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/session-logo.png" alt="Session Logo"><br />
                Session'
                link='https://getsession.org'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/signal-logo.png" alt="Signal Logo"><br />
                Signal'
                link='https://signal.org'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/simplex-logo.png" alt="SimpleX Logo"><br />
                SimpleX'
                link='https://simplex.chat'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/threema-logo.webp" alt="Threema Logo"><br />
                Threema'
                link='https://threema.com'
            %}
        </th>
        <th>
            {% include link
                text='<img src="../images/logos/whatsapp-logo.webp" alt="WhatsApp Logo"><br />
                WhatsApp'
                link='https://www.whatsapp.com'
            %}
        </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th>Android</th>
            <th>{% include link text='iOS' link='https://feelthemusi.com' %}</th>
            <th>Apple Devices</th>
        </tr>
        <tr>

        </tr>
        <tr>
            <th class="left-col">Privacy</th>
        </tr>
        <tr class="checker_row">
            <td>
                {% include link text="Open Source" link="https://www.ibm.com/topics/open-source" %}
            </td>
            {% include check %}
            {% include cross %}
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include cross %}
        </tr>
        <tr class="checker_row">
            <td>
                End-to-End Encrypted
            </td>
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Perfect Forward Secrecy
            </td>
            {% include check %}
            {% include check %}
            {% include check %}
            {% include cross %}
            {% include check %}
            {% include check %}
            {% include check %}
            {% include check %}
        </tr>
        <tr class="checker_row">
            <td>
                Metadata Protection
            </td>
        </tr>
        <tr>
            <th class="left-col">Convenience</th>
        </tr>
        <tr class="checker_row">
            <td>
                Unsend Messages
            </td>
            
        </tr>
        <tr class="checker_row">
            <td>
                Schedule Send
            </td>
            
        </tr>
        <tr class="checker_row">
            <td>
                Gif Support
            </td>
            
        </tr>
    </tbody>
</table>