---
layout: comparison
title: Photo App
permalink: photo-apps
link-preview: ./images/link-previews/photo-app-comparison.png
description: Comparisons of photo apps to find an application that works for you
titledesc: Find a photo app that works for you
---

  <table>
    <thead>
      <tr>
        <td>
        </td>
        <th>
          <a class="service-title" href="https://www.icloud.com/photos" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/apple-photos-logo.webp" alt="Apple Photos Logo"><br />
            Apple Photos
          </a>
        </th>
        <th>
          <a class="service-title" href="https://ente.io" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/ente-logo.webp" alt="ente Logo"><br />
            ente
          </a>
        </th>
        <th>
          <a class="service-title" href="https://www.google.com/photos/about" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/google-photos-logo.png" alt="Google Photos Logo"><br />
            Google Photos
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Platform</td>
            <th class="engine">Apple<br />Devices<br />& 
              {% include link text='Web' link='https://www.icloud.com/photos' %}
            </th>
            <th class="engine">{% include link text='Desktop' link='https://ente.io/download' %}<br />
              {% include link text='Web' link='https://web.ente.io' %}<br />
              {% include link text='Mobile' link='https://ente.io/download' %}
            </th>
            <th class="engine">{% include link text='Desktop' link='https://photos.google.com/apps' %}<br />
              {% include link text='Web' link='https://photos.google.com/login' %}<br />
              {% include link text='Mobile' link='https://photos.google.com/apps' %}
            </th>
        </tr>
      <tr>
        <th class="left-col"><br />Privacy</th>
      </tr>
      <tr class="checker_row">
        <td>
          <a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">
            Open Source
          </a>
        </td>
        <th><img src="../images/cross.webp" alt="check"></th>
        <th>
          <a href="https://github.com/ente-io/ente" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/cross.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Default 
          <a href="https://www.techtarget.com/searchsecurity/definition/end-to-end-encryption-E2EE" target="_blank" rel="noopener noreferrer">
            End-to-end encryption
          </a>
        </td>
        <th><img src="../images/cross.webp" alt="check"></th>
        <th>
          <a href="https://ente.io/architecture" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/cross.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Supports 
          <a href="https://www.techtarget.com/searchsecurity/definition/end-to-end-encryption-E2EE" target="_blank" rel="noopener noreferrer">
            End-to-end encryption
          </a>
        </td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <a href="https://ente.io/architecture" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/cross.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>On-Device Machine Learning</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <a href="https://ente.io/ml" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr>
        <th class="left-col"><br />Tracking/Analytics</th>
      </tr>
      <tr class="checker_row">
        <td>Doesn't log iP addresses</td>
        <th>
          <a href="https://www.apple.com/legal/privacy/data/en/apple-id" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th>
          <a href="https://ente.io/architecture" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/cross.webp" alt="check"></th>
        </tr>
    <th class="left-col"><br />Independence</th>
      <tr class="checker_row">
        <td>Self Hostable</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th>
          <a href="https://help.ente.io/self-hosting" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
    <!-- <th class="left-col"><br />Maintains Openness</th>
      <tr class="checker_row">
        <td>
          <div>
            Copyleft License
            <span>
              <a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">
                Copyleft licenses</a> are a type of open-source license that aim to ensure software remains free and open through requiring any derivative works to use the same license.
            </span>
          </div>
        </td>
        <th><img src="../images/cross.webp" alt="check"></th>
        <th>
            <div><img src="../images/check.webp" alt="check">
              <span>
                <a href="https://github.com/ente-io/ente?tab=AGPL-3.0-1-ov-file#readme" target="_blank" rel="noopener noreferrer">
                  AGPLv3
                </a>
              </span>
            </div>
        </th>
        <th><img src="../images/cross.webp" alt="check"></th>
      </tr> -->
      <tr>
        <th class="left-col"><br />Convenience</th>
      </tr>
      <tr class="checker_row">
        <td>Dark Mode</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <a href="https://ente.io/features" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Easy Data Export</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr class="checker_row">
        <td>Facial Recognition</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <a href="https://ente.io/ml" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Search with Descriptions</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <a href="https://ente.io/ml" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr>
        <th class="left-col"><br />Ethics</th>
      </tr>
      <tr class="checker_row">
        <td>Donates to Charity</td>
        <th>
          <a href="https://www.apple.com/newsroom/2021/12/apple-marks-a-year-of-giving-in-the-communities-it-calls-home" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>
              <a href="https://ente.io/blog/update-march-2022" target="_blank" rel="noopener noreferrer">
                Donates 1% to<br />stripe climate
              </a>
            </span>
          </div>
        </th>
        <th>
          <a href="https://www.google.org/billion-commitment-to-create-more-opportunity" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
      </tr>
      <tr class="checker_row">
        <td>Carbon Neutral</td>
        {% include cross tooltip="Plans to by 2030" link="https://www.apple.com/environment" %}
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span><a href="https://ente.io/reliability" target="_blank" rel="noopener noreferrer">
              Hosted on Scaleway</a> with <a href="https://www.scaleway.com/en/environmental-leadership" target="_blank" rel="noopener noreferrer">
                renewable energy
              </a>
            </span>
          </div>
        </th>
        <th>
          <div><img src="../images/cross.webp" alt="cross">
            <span>
              <a href="https://sustainability.google/operating-sustainably/net-zero-carbon" target="_blank" rel="noopener noreferrer">
                Plans to by 2030
              </a>
            </span>
          </div>
        </th>
      </tr>
      <tr class="checker_row">
        <td>Carbon Negative</td>
        {% include cross %}
        <th>
          <div><img src="../images/cross.webp" alt="cross">
            <span>
              <a href="https://ente.io/blog/update-march-2022" target="_blank" rel="noopener noreferrer">
                Donates 1% to stripe climate
              </a>
            </span>
          </div>
        </th>
        {% include cross %}
      </tr>
    </tbody>
        </table>