---
layout: comparison
title: VPN
permalink: vpns
description:
---

<h1>{{ page.title }} Comparisons<br /><br /></h1>
<table>
  <thead>
    <tr>
      <td id="Paid-Services"><a href="#Paid-Services">
          <h2>Paid Services</h2>
        </a>
      </td>
      <th>
        <a class="service-title" href="https://www.ivpn.net" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/ivpn-logo.png" alt="IVPN Logo"><br />
          IVPN
        </a>
      </th>
      <th>
        <a class="service-title" href="https://mullvad.net" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/mullvad-vpn-logo.svg" alt="Mullvad VPN Logo"><br />
          Mullvad
        </a>
      </th>
      <th>
        <a class="service-title" href="https://www.mysteriumvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/mysterium-vpn-logo.webp" alt="Mysterium VPN Logo"><br />
          Mysterium
        </a>
      </th>
      <th>
        <a class="service-title" href="https://nordvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/nord-vpn-logo.png" alt="NordVPN Logo"><br />
          NordVPN
        </a>
      </th>
      <th>
        <a class="service-title" href="https://support.apple.com/en-us/102602" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/logos/apple-private-relay-logo.png" alt="iCloud Private Relay Logo"><br />
          Private Relay
        </a>
      </th>
      <th>
        <a class="service-title" href="https://protonvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/protonvpn-logo.webp" alt="Proton VPN Logo"><br />
          Proton
        </a>
      </th>
      <th>
        <a class="service-title" href="https://safing.io/spn" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/safing-logo.png" alt="IVPN Logo"><br />
          SPN
        </a>
      </th>
      <th>
        <a class="service-title" href="https://surfshark.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/surfshark-logo.svg" alt="Surfshark Logo"><br />
          Surfshark
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Platform</td>
      <th class="engine"><a href="https://www.ivpn.net/en/apps-windows">Desktop</a><br />
        & <a href="https://www.ivpn.net/en/apps-ios">Mobile</a>
      </th>
      <th class="engine"><a href="https://mullvad.net/en/download/vpn/windows" target="_blank"
          rel="noopener noreferrer">
          Desktop</a><br />
        & <a href="https://mullvad.net/en/download/vpn/ios" target="_blank" rel="noopener noreferrer">
          Mobile</a>
      </th>
      <th class="engine">{% include link text='MacOS' link='https://www.mysteriumvpn.com/downloads' %}<br />
        {% include link text='Windows' link='https://www.mysteriumvpn.com/downloads' %}<br />&
        {% include link text='Mobile' link='https://www.mysteriumvpn.com/downloads' %}
      </th>
      <th class="engine">{% include link text='Desktop' link='https://nordvpn.com/download' %}<br />
        {% include link text='Mobile' link='https://nordvpn.com/download' %}<br />
        {% include link text='TV' link='https://nordvpn.com/download' %} &<br />
        {% include link text='Console' link='https://nordvpn.com/download/other' %}
      </th>
      <th class="engine">Safari</th>
      <th class="engine">{% include link text='Desktop' link='https://protonvpn.com/download' %}<br />
        {% include link text='TV' link='https://protonvpn.com/download' %} &<br />
        {% include link text='Mobile' link='https://protonvpn.com/download' %}
      </th>
      <th class="engine">{% include link text='Windows' link='https://safing.io/download' %}<br />&
        {% include link text='Linux' link='https://safing.io/download' %}
      </th>
      <th class="engine">{% include link text='Desktop' link='https://surfshark.com/download' %}<br />
        {% include link text='TV' link='https://surfshark.com/download' %} &<br />
        {% include link text='Mobile' link='https://surfshark.com/download' %}
      </th>
    </tr>
    <tr>
      <th class="left-col"><br />Privacy</th>
    </tr>
    <tr class="checker_row">
      <td>
        <a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">
          Open Source</a> Apps
      </td>
      <th>
        <a href="https://github.com/ivpn/desktop-app" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/mullvad/mullvadvpn-app" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/mysteriumnetwork" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="check"></th>
      <th><img src="../images/cross.webp" alt="check"></th>
      <th>
        <a href="https://github.com/ProtonVPN" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/safing/portmaster" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="check"></th>
    </tr>
    <tr class="checker_row">
      <td>Kill Switch</td>
      <th>
        <a href="https://www.ivpn.net" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% include check link="https://nordvpn.com/features/vpn-kill-switch" %}
      {% include cross %}
      <th>
        <a href="https://protonvpn.com/support/advanced-kill-switch" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% capture inner %}{% include link text='blocks all local internet traffic to prevent leaks'
      link='https://wiki.safing.io/en/FAQ/KillSwitch' %}{% endcapture %}
      {% include check tooltip=inner %}
      <th>
        <a href="https://surfshark.com/features/kill-switch" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Auto Connect</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/configuring-the-ivpn-app-to-autoconnect" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/check.webp" alt="check"></th>
      {% include check link="https://www.mysteriumvpn.com/blog/vpn-issues-troubleshooting#WhyDoesVPNKeepTurningOn" %}
      {% include check link="https://nordvpn.com/blog/automatic-vpn-wifi-connect" %}
      {% include check %}
      {% include check link="https://protonvpn.com/support/always-on-vpn" %}
      {% include check %}
      {% include check link="https://surfshark.com/features" %}
    </tr>
    <tr class="checker_row">
      <td>Double Hop</td>
      <th>
        <a href="https://www.ivpn.net" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/multihop-WireGuard" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% include check link='https://nordvpn.com/features/double-vpn' %}
      <th>
        <a href="https://support.apple.com/en-us/102602" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>

      {% capture inner %}{% include link text='Available with Tor over VPN'
      link='https://protonvpn.com/features/tor-over-vpn' %}{% endcapture %}
      {% include check tooltip=inner %}
      {% include check link='https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor' %}
      {% include check link='https://surfshark.com/features/multihop' %}
    </tr>
    <tr class="checker_row">
      <td>Triple Hop</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/what-is-a-multihop-vpn-service" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/multihop-WireGuard" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% capture inner %}{% include link text='Available with Tor over VPN'
      link='https://nordvpn.com/features/onion-over-vpn' %}{% endcapture %}
      {% include check tooltip=inner %}
      <th>
        <a href="https://support.apple.com/en-us/102602" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% capture inner %}{% include link text='Available with Tor over VPN'
      link='https://protonvpn.com/features/tor-over-vpn' %}{% endcapture %}
      {% include check tooltip=inner %}
      {% include check link='https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor' %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Ai Traffic Analysis Blocking</td>
      <th>
        <div>
          <img src="../images/cross.webp" alt="cross">
          <span>
            <a href="https://www.ivpn.net/blog/ivpn-year-in-review-plans-for-2025" target="_blank"
              rel="noopener noreferrer">
              Planned for 2025
            </a>
          </span>
        </div>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/daita-defense-against-ai-guided-traffic-analysis" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Pay with Monero</td>
      <th>
        <a href="https://www.ivpn.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross link="https://nordvpn.com/pricing" %}
      {% include cross %}
      <th>
        <a href="https://account.protonvpn.com/signup" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include check link="https://safing.io/spn" %}
      {% include cross link="https://surfshark.com/pricing" %}
    </tr>
    <tr class="checker_row">
      <td>Pay with Cash</td>
      <th>
        <a href="https://www.ivpn.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://www.mysteriumvpn.com/vpn-pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross link="https://nordvpn.com/pricing" %}
      {% include cross %}
      <th>
        <a href="https://account.protonvpn.com/signup" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross %}
      {% include cross link="https://surfshark.com/pricing" %}
    </tr>
    <tr class="checker_row">
      <td>Ad and Tracker Blocker</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/antitracker-plus-lists-explained" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% include check link="https://nordvpn.com/features/threat-protection/tracker-blocker" %}
      {% include cross %}
      <th>
        <a href="https://protonvpn.com/support/netshield" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check tooltip="Blocks ads and trackers locally through portmaster"
      link="https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor" %}
      <th>
        <a href="https://surfshark.com/features/clean-web" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Perfect Forward Secrecy</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/privacy/does-ivpn-offer-perfect-forward-secrecy-pfs" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th>-</th>
      <th>-</th>
      {% include check link="https://protonvpn.com/features/forward-secrecy" %}
      <th>-</th>
      {% include check link="https://surfshark.com/features/stealth-vpn" %}
    </tr>
    <tr class="checker_row">
      <td>Hide VPN Use on Network</td>
      {% include cross %}
      <th>
        <a href="https://mullvad.net/en/help/connecting-to-mullvad-vpn-from-restrictive-locations#connecting"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th>-</th>
      <th>-</th>
      {% include check link="https://protonvpn.com/blog/stealth-vpn-protocol" %}
      <th>-</th>
      {% include check link="https://surfshark.com/features/stealth-vpn" %}
    </tr>
    <tr class="checker_row">
      <td>Full Device Protection</td>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
      <th>
        <div>
          <img src="../images/cross.webp" alt="cross">
          <span><a href="https://support.apple.com/en-us/102602" target="_blank" rel="noopener noreferrer">Only on
              Safari</a></span>
        </div>
      </th>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
    </tr>
    <tr class="checker_row">
      <td>No Email Required</td>
      <th>
        <a href="https://www.ivpn.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/account/create" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://app.mysteriumvpn.com/login" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross link='https://nordaccount.com/signup' %}
      {% include cross link='https://support.apple.com/en-us/108647' %}
      {% include check link='https://account.proton.me/vpn/signup' %}
      {% include check link='https://account.safing.io/account/sign_up' %}
      {% include cross link='https://order.surfshark.com/?frequency=24&slug=vpn' %}
    </tr>
    <tr class="checker_row">
      <td>No Phone Number Required</td>
      <th>
        <a href="https://www.ivpn.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/account/create" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://app.mysteriumvpn.com/login" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link='https://nordaccount.com/signup' %}
      {% include cross link='https://support.apple.com/en-us/108647' %}
      {% include check link='https://account.proton.me/vpn/signup' %}
      {% include check link='https://account.safing.io/account/sign_up' %}
      {% include check link='https://order.surfshark.com/?frequency=24&slug=vpn' %}
    </tr>
    <tr>
      <th class="left-col"><br />Tracking/Analytics</th>
    </tr>
    <tr class="checker_row">
      <td>No-Log Policy</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/privacy/do-you-store-any-logs-that-could-be-used-to-identify-a-customer"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/no-logging-data-policy" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://www.mysteriumvpn.com/blog/no-log-vpn#DecentralizationTheGameChanger">
              Servers run by volunteers, so logging is possible
            </a>
          </span>
        </div>
      </th>
      {% include check link="https://nordvpn.com/features/strict-no-logs-policy" alt="NordVPN has a no-log policy" %}
      {% include cross tooltip="Takes minimal logs that can not be tied to your browsing activity" link="https://www.apple.com/icloud/docs/iCloud_Private_Relay_Overview_Dec2021.pdf#page=9" %}
      {% include check link="https://protonvpn.com/features/no-logs-policy" %}
      {% include check tooltip="Only first server has access to your iP address and does not take logs" link="https://safing.io/privacy/#article-2-personal-identifiable-information--data-we-collect" %}
      {% include check link="https://surfshark.com/features/no-logs" %}
    </tr>
    <th class="left-col"><br />Independence/Trust</th>
    <tr class="checker_row">
      <td>
        <div>
          Copyleft License
          <span>
            <a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">
              Copyleft licenses</a> are a type of open-source license that aim to ensure software remains free and open
            through requiring any derivative works to use the same license.
          </span>
        </div>
      </td>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span><a href="https://github.com/ivpn/desktop-app/blob/master/LICENSE.md" target="_blank"
              rel="noopener noreferrer">GPLv3</a></span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span><a href="https://github.com/mullvad/mullvadvpn-app/blob/main/LICENSE.md" target="_blank"
              rel="noopener noreferrer">GPLv3</a></span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/cross.webp" alt="cross">
          <span><a href="https://github.com/mysteriumnetwork/mysterium-vpn-desktop/blob/master/LICENSE" target="_blank"
              rel="noopener noreferrer">MIT License</a></span>
        </div>
      </th>
      {% include cross tooltip="Proprietary" %}
      {% include cross tooltip="Proprietary" %}
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span><a href="https://github.com/ProtonVPN/ios-mac-app/blob/develop/LICENSE" target="_blank"
              rel="noopener noreferrer">GPLv3</a></span>
        </div>
      </th>
      {% include check tooltip="GPLv3" link="https://github.com/safing/portmaster/blob/develop/LICENSE" %}
      {% include cross tooltip="Proprietary" %}
    </tr>
    <tr class="checker_row">
      <td>
        Independent Third Party Audit
      </td>
      <th>
        <a href="https://www.ivpn.net/en/blog/tags/audit" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/the-report-for-the-2024-security-audit-of-the-app-is-now-available"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://skynet.certik.com/projects/mysterium">
              Smart contract audited</a>, but not all code
          </span>
        </div>
      </th>
      {% include check link="https://nordvpn.com/blog/nordvpn-audit" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/open-source" %}
      {% include cross %}
      {% include check link="https://surfshark.com/trust-center" %}
    </tr>
    <tr class="checker_row">
      <td>
        Transparency Report
      </td>
      <th>
        <a href="https://www.ivpn.net/en/transparency-report" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th>-</th>
      <th>-</th>
      {% include check link="https://protonvpn.com/blog/transparency-report" %}
      {% include cross %}
      {% include check link="https://surfshark.com/trust-center" %}
    </tr>
    <tr class="checker_row">
      <td>
        Warrant Canary
      </td>
      <th>
        <a href="https://www.ivpn.net/resources/canary.txt" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            Company does not have access to logs, so Warrant Canary is not necessary
          </span>
        </div>
      </th>
      <th>-</th>
      <th>-</th>
      {% include check link="https://protonvpn.com/blog/transparency-report" %}
      {% include cross %}
      <th>
        <a href="https://surfshark.com/warrant-canary" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>
        Diskless Servers
      </td>
      <th>
        <a href="https://www.reddit.com/r/IVPN/comments/ju8b5d/comment/gcdepog/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/2023/9/20/we-have-successfully-completed-our-migration-to-ram-only-vpn-infrastructure"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% include check link="https://nordvpn.com/blog/security-plan" %}
      <th>-</th>
      {% include cross link="https://protonvpn.com/blog/ram-only-servers" %}
      <th>-</th>
      {% include check link="https://surfshark.com/blog/surfshark-upgraded-to-ram-only-servers" %}
    </tr>
    <tr>
      <th class="left-col"><br />Security</th>
    </tr>
    <tr class="checker_row">
      <td>Default Secure Protocol</td>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span>
            <a href="https://www.ivpn.net/knowledgebase/general/what-vpn-protocols-do-you-offer" target="_blank"
              rel="noopener noreferrer">
              OpenVPN and WireGuard on all platforms, with iOS additionally offering IPSec with IKEv2 connections
            </a>
          </span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span>
            <a href="https://mullvad.net/en/servers" target="_blank" rel="noopener noreferrer">
              WireGuard and OpenVPN</a>
            <a href="https://mullvad.net/en/blog/removing-openvpn-15th-january-2026" target="_blank"
              rel="noopener noreferrer">
              (Will be removed on 15th January 2026 to focus on WireGuard)
            </a>
          </span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span>
            <a href="https://help.mysteriumvpn.com/en/articles/8954864-what-vpn-protocols-does-the-app-support"
              target="_blank" rel="noopener noreferrer">
              WireGuard
            </a>
          </span>
        </div>
      </th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      {% include check tooltip="WireGuard, IKEv2, and OpenVPN" link="https://surfshark.com/features/surfshark-vpn-protocols" %}
    </tr>
    <tr class="checker_row">
      <td>Quantum Resistant Encryption</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/quantum-resistance-faq" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      {% include check link="https://www.techradar.com/pro/vpn/post-quantum-encryption-standards-are-here-a-new-era-for-vpn-security-begins" %}
    </tr>
    <tr>
      <th class="left-col"><br />Freedom</th>
    </tr>
    <tr class="checker_row">
      <td>Custom DNS Support</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/custom-dns" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      {% include dash tooltip="Supports Windows and Linux with other platforms planned" link="https://protonvpn.com/support/custom-dns" %}
      <th>-</th>
      {% include check link="https://support.surfshark.com/hc/en-us/articles/13560798718610-How-to-set-custom-DNS-on-any-device" %}
    </tr>
    <tr>
      <th class="left-col"><br />Convenience</th>
    </tr>
    <tr class="checker_row">
      <td>Split Tunneling</td>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://www.ivpn.net/knowledgebase/general/split-tunnel-faq" target="_blank"
              rel="noopener noreferrer">
              Only on Windows, MacOS and Linux
            </a>
          </span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://mullvad.net/en/help/split-tunneling-with-the-mullvad-app" target="_blank"
              rel="noopener noreferrer">
              Not on iOS
            </a>
          </span>
        </div>
      </th>
      {% include cross %}
      {% include dash tooltip="Only on Windows and Android" link="https://nordvpn.com/features/split-tunneling" %}
      {% include dash tooltip="Can disable per-site" link="https://support.apple.com/en-us/102022?cid=mc-ols-icloud-article_ht213548-ios_ui-05232023" %}
      {% capture inner %}{% include link text='Only on Windows and Android'
      link="https://protonvpn.com/support/protonvpn-split-tunneling" %}{% endcapture %}
      {% include dash tooltip=inner %}
      <th>-</th>
      {% include dash tooltip="Only on Windows, Android and iOS" link="https://surfshark.com/features/split-tunneling" %}
    </tr>
    <tr class="checker_row">
      <td>Dedicated iP Support</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/do-you-offer-dedicated-or-static-ip-addresses"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/search?q=IP#64" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      {% include check link="https://nordvpn.com/features/dedicated-ip" %}
      {% include cross %}
      {% include check tooltip="For business customers" link="https://protonvpn.com/support/dedicated-ips" %}
      {% include cross %}
      <th>
        <a href="https://surfshark.com/dedicated-ip" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Residential iP Addresses</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/do-you-offer-dedicated-or-static-ip-addresses"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th>
        <a href="https://help.mysteriumvpn.com/en/articles/8954867-does-the-vpn-offer-residential-servers"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross tooltip="Does have dedicated iP support for avoiding iP blocks" %}
      <th>-</th>
      <th>-</th>
      <th>-</th>
      {% include cross tooltip="Does have dedicated iP support for avoiding iP blocks" %}
    </tr>
    <tr class="checker_row">
      <td>Streaming Service Support</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/can-i-access-hulu-or-netflix-or-bbc-iplayer-using-ivpn"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/watching-netflix-with-split-tunneling" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://help.mysteriumvpn.com/en/articles/8954852-does-the-vpn-work-with-streaming-services"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link="https://nordvpn.com/features/streaming" %}
      <th>-</th>
      {% include check link="https://protonvpn.com/streaming" %}
      <th>-</th>
      {% include check link="https://support.surfshark.com/hc/en-us/sections/4417084270994-Streaming" %}
    </tr>
    <tr class="checker_row">
      <td>Choose Location</td>
      <th>
        <a href="https://www.ivpn.net/en/status" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/servers" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link="https://www.mysteriumvpn.com/locations" %}
      {% include check link="https://nordvpn.com/servers" %}
      {% include cross link="https://www.macrumors.com/how-to/adjust-icloud-private-relay-settings" %}
      <th>
        <a href="https://protonvpn.com/vpn-servers" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link="https://wiki.safing.io/en/Portmaster/Feature" %}
      <th>
        <a href="https://surfshark.com/servers" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Port Forwarding</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/do-you-support-port-forwarding" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/removing-the-support-for-forwarded-ports" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross %}
      {% include cross link="https://support.nordvpn.com/hc/en-us/articles/19483392309649-Does-NordVPN-offer-port-forwarding" %}
      {% include cross %}
      <th>
        <a href="https://protonvpn.com/support/port-forwarding" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include cross link="https://surfshark.com/blog/vpn-port-forwarding#vpn-clients-and-vpn-port-forwarding" %}
    </tr>
    <tr class="checker_row">
      <td>Tailscale Support</td>
      <th><img src="../images/cross.webp" alt="cross"></th>
      <th>
        <a href="https://mullvad.net/en/blog/tailscale-has-partnered-with-mullvad" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr>
      <th class="left-col"><br />Ethics</th>
    </tr>
    <tr class="checker_row">
      <td>Donates to Charity</td>
      <th>
        <a href="https://www.ivpn.net/en/supported-projects" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/mullvad-becomes-highest-level-of-tor-member-shallot" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>
        <a href="https://surfshark.com/corporate-social-responsibility" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Carbon Neutral</td>
      <th>
        <img src="../images/cross.webp" alt="cross">
      </th>
      <th>
        <img src="../images/cross.webp" alt="cross">
      </th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      {% include cross tooltip="80% of emissions come from sustainable energy" link="https://surfshark.com/website/_next/public/files/impact-report-2023.pdf#page=16" %}
    </tr>
    <tr class="checker_row">
      <td>Carbon Negative</td>
      <th>
        <img src="../images/cross.webp" alt="cross">
      </th>
      <th>
        <img src="../images/cross.webp" alt="cross">
      </th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      {% include cross tooltip="<a href='https://surfshark.com/blog/surfshark-sustainable-future' target='_blank' rel='noopener noreferrer'>In the UN Global Compact</a>, and <a href='https://surfshark.com/blog/shark-awareness-day-2024' target='_blank' rel='noopener noreferrer'>supports shark conservation</a>"  %}
    </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <td id="Free-Services"><a href="#Free-Services">
          <h2>Free Services</h2>
        </a>
      </td>
      <th>
        <a class="service-title" href="https://orbot.app" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/orbot-logo.png" alt="Orbot Logo"><br />
          Orbot
        </a>
      </th>
      <th>
        <a class="service-title" href="https://protonvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/protonvpn-logo.webp" alt="Proton VPN Logo"><br />
          Proton
        </a>
      </th>
      <th>
        <a class="service-title" href="https://windscribe.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/windscribe-logo.webp" alt="Windscribe Logo"><br />
          Windscribe
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Platform</td>
      <th class="engine">{% include link text='MacOS'
        link='https://apps.apple.com/us/app/orbot/id1609461599?platform=mac' %}<br />
        {% include link text='iOS' link='https://apps.apple.com/us/app/orbot/id1609461599?platform=iphone' %} &<br />
        {% include link text='Android'
        link='https://play.google.com/store/apps/details?id=org.torproject.android&hl=en_US' %}
      </th>
      <th class="engine">{% include link text='Desktop' link='https://protonvpn.com/download' %}<br />
        {% include link text='TV' link='https://protonvpn.com/download' %} &<br />
        {% include link text='Mobile' link='https://protonvpn.com/download' %}
      </th>
      <th class="engine">{% include link text='Desktop' link='https://windscribe.com/download' %}<br />
        {% include link text='TV' link='https://windscribe.com/download' %} &<br />
        {% include link text='Mobile' link='https://windscribe.com/download' %}
      </th>
    </tr>
    <tr>
      <th class="left-col"><br />Privacy</th>
    </tr>
    <tr class="checker_row">
      <td>
        <a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">
          Open Source</a> Apps
      </td>
      <th>
        <a href="https://github.com/guardianproject/orbot" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/ProtonVPN" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/windscribe" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Kill Switch</td>

    </tr>
    <tr class="checker_row">
      <td>Quantum Resistant Encryption</td>

    </tr>
    <tr class="checker_row">
      <td>Double Hop</td>

    </tr>
    <tr class="checker_row">
      <td>Triple Hop</td>

    </tr>
    <tr class="checker_row">
      <td>Ai Traffic Analysis Blocking</td>

    </tr>
    <tr class="checker_row">
      <td>Pay with Monero</td>

    </tr>
    <tr class="checker_row">
      <td>Pay with Cash</td>

    </tr>
    <tr class="checker_row">
      <td>Ad and Tracker Blocker</td>

    </tr>
    <tr class="checker_row">
      <td>Invisible on LAN</td>

    </tr>
    <tr class="checker_row">
      <td>Full Device Protection</td>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
      <th><img src="../images/check.webp" alt="check"></th>
    </tr>
    <tr>
      <th class="left-col"><br />Tracking/Analytics</th>
    </tr>
    <tr class="checker_row">
      <td>No Log Policy</td>

    </tr>
    <th class="left-col"><br />Independence/Trust</th>
    <tr class="checker_row">
      <td>
        <div>
          Copyleft License
          <span>
            <a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">
              Copyleft licenses</a> are a type of open-source license that aim to ensure software remains free and open
            through requiring any derivative works to use the same license.
          </span>
        </div>
      </td>

    <tr class="checker_row">
      <td>
        Independent Third Party Audit
      </td>

    </tr>
    <tr class="checker_row">
      <td>
        Company Owned Servers Available
      </td>

    </tr>
    <tr class="checker_row">
      <td>
        Transparency Report
      </td>

    </tr>
    <tr class="checker_row">
      <td>
        Diskless Servers
      </td>

    </tr>
    <tr>
      <th class="left-col"><br />Security</th>
    </tr>
    <tr class="checker_row">
      <td>WireGuard Support</td>

    </tr>
    <tr class="checker_row">
      <td>OpenVPN Support</td>

    </tr>
    <tr>
      <th class="left-col"><br />Freedom</th>
    </tr>
    <tr class="checker_row">
      <td>Custom DNS Support</td>

    </tr>
    <tr>
      <th class="left-col"><br />Convenience</th>
    </tr>
    <tr class="checker_row">
      <td>Split Tunneling</td>

    </tr>
    <tr class="checker_row">
      <td>Dedicated iP Support</td>

    </tr>
    <tr class="checker_row">
      <td>Residential iP Addresses</td>

    </tr>
    <tr class="checker_row">
      <td>Streaming Service Support</td>

    </tr>
    <tr class="checker_row">
      <td>Choose Server</td>

    </tr>
    <tr>
      <th class="left-col"><br />Ethics</th>
    </tr>
    <tr class="checker_row">
      <td>Donates to Charity</td>
    </tr>
    <tr class="checker_row">
      <td>Carbon Neutral</td>

    </tr>
    <tr class="checker_row">
      <td>Carbon Negative</td>

    </tr>
  </tbody>
</table>