---
layout: comparison
title: VPN
permalink: vpns
link-preview: ./images/link-previews/vpn-comparison.png
description: Chart of VPN comparisons to find one that works for you
titledesc: Find a VPN that works for you
---

<table>
  <thead>
    <tr>
      <td id="Paid-Services"><a href="#Paid-Services">
          <h2>Paid Services</h2>
        </a>
      </td>
      <th>
        <a class="service-title" href="https://www.ivpn.net" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/ivpn-logo.png" alt="IVPN Logo"><br />
          IVPN
        </a>
      </th>
      <th>
        <a class="service-title" href="https://mullvad.net" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/mullvad-vpn-logo.svg" alt="Mullvad VPN Logo"><br />
          Mullvad
        </a>
      </th>
      <th>
        <a class="service-title" href="https://www.mysteriumvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/mysterium-vpn-logo.webp" alt="Mysterium VPN Logo"><br />
          Mysterium
        </a>
      </th>
      <th>
        <a class="service-title" href="https://nordvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/nord-vpn-logo.png" alt="NordVPN Logo"><br />
          NordVPN
        </a>
      </th>
      <th>
        <a class="service-title" href="https://support.apple.com/en-us/102602" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/logos/apple-private-relay-logo.png" alt="iCloud Private Relay Logo"><br />
          Private Relay
        </a>
      </th>
      <th>
        <a class="service-title" href="https://protonvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/protonvpn-logo.webp" alt="Proton VPN Logo"><br />
          Proton
        </a>
      </th>
      <th>
        <a class="service-title" href="https://safing.io/spn" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/safing-logo.png" alt="IVPN Logo"><br />
          SPN
        </a>
      </th>
      <th>
        <a class="service-title" href="https://surfshark.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/surfshark-logo.svg" alt="Surfshark Logo"><br />
          Surfshark
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Platform</td>
      <th><a href="https://www.ivpn.net/en/apps-windows">Desktop</a><br />
        & <a href="https://www.ivpn.net/en/apps-ios">Mobile</a>
      </th>
      <th><a href="https://mullvad.net/en/download/vpn/windows" target="_blank"
          rel="noopener noreferrer">
          Desktop</a><br />
        & <a href="https://mullvad.net/en/download/vpn/ios" target="_blank" rel="noopener noreferrer">
          Mobile</a>
      </th>
      <th>{% include link text='MacOS' link='https://www.mysteriumvpn.com/downloads' %}<br />
        {% include link text='Windows' link='https://www.mysteriumvpn.com/downloads' %}<br />&
        {% include link text='Mobile' link='https://www.mysteriumvpn.com/downloads' %}
      </th>
      <th>{% include link text='Desktop' link='https://nordvpn.com/download' %}<br />
        {% include link text='Mobile' link='https://nordvpn.com/download' %}<br />
        {% include link text='TV' link='https://nordvpn.com/download' %} &<br />
        {% include link text='Console' link='https://nordvpn.com/download/other' %}
      </th>
      <th>Safari</th>
      <th>{% include link text='Desktop' link='https://protonvpn.com/download' %}<br />
        {% include link text='TV' link='https://protonvpn.com/download' %} &<br />
        {% include link text='Mobile' link='https://protonvpn.com/download' %}
      </th>
      <th>{% include link text='Windows' link='https://safing.io/download' %}<br />&
        {% include link text='Linux' link='https://safing.io/download' %}
      </th>
      <th>{% include link text='Desktop' link='https://surfshark.com/download' %}<br />
        {% include link text='TV' link='https://surfshark.com/download' %} &<br />
        {% include link text='Mobile' link='https://surfshark.com/download' %}
      </th>
    </tr>
    <tr>
      <th class="left-col"><br />Privacy</th>
    </tr>
    <tr class="checker_row">
      <td>
        <a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">
          Open Source</a> Apps
      </td>
      {% include check link="https://github.com/ivpn/desktop-app" %}
      {% include check link="https://github.com/mullvad/mullvadvpn-app" %}
      {% include check link="https://github.com/mysteriumnetwork" %}
      {% include cross %}
      {% include cross %}
      {% include check link="https://github.com/ProtonVPN" %}
      {% include check link="https://github.com/safing/portmaster" %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>
        <div>
          Kill Switch
          <span>
            A {%include link text="VPN kill switch" link="https://protonvpn.com/support/what-is-kill-switch" %} automatically cuts your internet if the VPN drops, preventing data leaks and protecting your IP, location, and sensitive information.
          </span>
        </div>
      </td>
      {% include check link="https://www.ivpn.net" %}
      {% include check link="https://mullvad.net/en/why-mullvad-vpn" %}
      {% include cross %}
      {% include check link="https://nordvpn.com/features/vpn-kill-switch" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/support/advanced-kill-switch" %}
      {% include check tooltip="Blocks all local internet traffic to prevent leaks" link="https://wiki.safing.io/en/FAQ/KillSwitch" %}
      {% include check link="https://surfshark.com/features/kill-switch" %}
    </tr>
    <tr class="checker_row">
      <td>
        <div>
          Auto Connect
          <span>
            {%include link text="VPN Auto Connect" link="https://support.surfshark.com/hc/en-us/articles/6628420453778-What-is-auto-connect-and-how-to-use-it" %} automatically connects to a vpn as soon as the device connects to Wi-Fi or ethernet, so you won't forget to connect your vpn and no data will be leaked.
          </span>
        </div>
      </td>
      {% include check link="https://www.ivpn.net/knowledgebase/general/configuring-the-ivpn-app-to-autoconnect" %}
      {% include check %}
      {% include check link="https://www.mysteriumvpn.com/blog/vpn-issues-troubleshooting#WhyDoesVPNKeepTurningOn" %}
      {% include check link="https://nordvpn.com/blog/automatic-vpn-wifi-connect" %}
      {% include check %}
      {% include check link="https://protonvpn.com/support/always-on-vpn" %}
      {% include check %}
      {% include check link="https://surfshark.com/features" %}
    </tr>
    <tr class="checker_row">
      <td>
        <div>
          Double Hop
          <span>
            A {%include link text="VPN Double Hop" link="https://surfshark.com/features/multihop" %} is a feature that routes your internet traffic  through two servers instead of one, so the first one can only see who connected and the second can see which websites are being visited. This feature protects against one of the servers being compromised, allowing each to only see a limited amount of information.
          </span>
        </div>
      </td>
      {% include check link="https://www.ivpn.net" %}
      {% include check link="https://mullvad.net/en/help/multihop-wireguard" %}
      {% include cross %}
      {% include check link='https://nordvpn.com/features/double-vpn' %}
      {% include check link="https://support.apple.com/en-us/102602" %}
      {% include check tooltip='Available with Tor over VPN' link='https://protonvpn.com/features/tor-over-vpn' %}
      {% include check link='https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor' %}
      {% include check link='https://surfshark.com/features/multihop' %}
    </tr>
    <tr class="checker_row" class="checker_row">
      <td>
        <div>
          Two Party Double Hop
          <span>
            {%include link text="Two Party Double Hop" link="https://obscura.net/#faq-technical" %} is a feature where your traffic is routed through two servers owned by separate entities so there is a very low chance that your traffic on both servers will be connected together and tied to you.
          </span>
        </div>
      </td>
      {% include cross tooltip="Both servers owned by iVPN" link="https://www.ivpn.net" %}
      {% include cross tooltip="Both servers owned by Mullvad" link="https://mullvad.net/en/help/multihop-wireguard" %}
      {% include cross %}
      {% include cross tooltip="Both servers owned by Nord" link='https://nordvpn.com/features/double-vpn' %}
      {% include check tooltip="First server owned by Apple, and second is owned by a third party" link="https://support.apple.com/en-us/102602" %}
      {% include cross tooltip='Offers Tor over VPN, which has multiple hops, so speed will be limited' link='https://protonvpn.com/features/tor-over-vpn' %}
      {% include dash tooltip="Only offers three-party triple hop" link='https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor' %}
      {% include check tooltip="Both servers owned by Surfshark" link='https://surfshark.com/features/multihop' %}
    </tr>
    <tr class="checker_row" class="checker_row" class="checker_row">
      <td>
        <div>
          3 or More Party Hop
          <span>
            {%include link text="3 or More Party Hop" link="https://en.wikipedia.org/wiki/Onion_routing" %} is a feature where your traffic is routed through more than two servers, each owned by separate entities so the chance that your traffic is connected together and tied back to you gets lower with each server added.
          </span>
        </div>
      </td>
      {% include cross link="https://www.ivpn.net/knowledgebase/general/what-is-a-multihop-vpn-service" %}
      {% include cross tooltip="All hops will be run by Mullvad" link="https://mullvad.net/en/help/multihop-wireguard" %}
      {% include cross %}
      {% include check tooltip="Available with Tor over VPN" link="https://nordvpn.com/features/onion-over-vpn" %}
      {% include cross link="https://support.apple.com/en-us/102602" %}
      {% include check tooltip="Available with Tor over VPN" link="https://protonvpn.com/features/tor-over-vpn" %}
      {% include check link='https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor' %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>
        Ai Traffic Analysis Blocking
      </td>
      {% include cross tooltip="Planned for 2025" link="https://www.ivpn.net/blog/ivpn-year-in-review-plans-for-2025" %}
      {% include check link="https://mullvad.net/en/blog/daita-defense-against-ai-guided-traffic-analysis" %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>
        Pay with Monero
      </td>
      {% include check link="https://www.ivpn.net/en/pricing" %}
      {% include check link="https://mullvad.net/en/pricing" %}
      {% include cross link="https://mullvad.net/en/pricing" %}
      {% include cross link="https://nordvpn.com/pricing" %}
      {% include cross %}
      {% include cross link="https://account.protonvpn.com/signup" %}
      {% include check link="https://safing.io/spn" %}
      {% include cross link="https://surfshark.com/pricing" %}
    </tr>
    <tr class="checker_row">
      <td>
        Pay with Cash
      </td>
      {% include check link="https://www.ivpn.net/en/pricing" %}
      {% include check link="https://mullvad.net/en/pricing" %}
      {% include cross link="https://www.mysteriumvpn.com/vpn-pricing" %}
      {% include cross link="https://nordvpn.com/pricing" %}
      {% include cross %}
      {% include cross link="https://account.protonvpn.com/signup" %}
      {% include cross %}
      {% include cross link="https://surfshark.com/pricing" %}
    </tr>
    <tr class="checker_row">
      <td>
        Ad and Tracker Blocker
      </td>
      {% include check link="https://www.ivpn.net/knowledgebase/general/antitracker-plus-lists-explained" %}
      {% include check link="https://mullvad.net/en/why-mullvad-vpn" %}
      {% include cross %}
      {% include check link="https://nordvpn.com/features/threat-protection/tracker-blocker" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/support/netshield" %}
      {% include check tooltip="Blocks ads and trackers locally through Portmaster" link="https://safing.io/blog/2020/01/22/how-the-spn-compares-to-tor" %}
      {% include check link="https://surfshark.com/features/clean-web" %}
    </tr>
    <tr class="checker_row">
      <td>
        Perfect Forward Secrecy
      </td>
      {% include check link="https://www.ivpn.net/knowledgebase/privacy/does-ivpn-offer-perfect-forward-secrecy-pfs" %}
      {% include check link="https://mullvad.net/en/why-mullvad-vpn" %}
      {% include cross %}
      {% include check link="https://nordvpn.com/blog/perfect-forward-secrecy" %}
      {% include cross tooltip="Not outlined in whitepaper" link="https://www.apple.com/privacy/docs/iCloud_Private_Relay_Overview_Dec2021.PDF" %}
      {% include check link="https://protonvpn.com/features/forward-secrecy" %}
      {% include cross %}
      {% include check link="https://surfshark.com/features/stealth-vpn" %}
    </tr>
    <tr class="checker_row">
      <td>
        Hide VPN Use on Network
      </td>
      {% include cross %}
      {% include check link="https://mullvad.net/en/help/connecting-to-mullvad-vpn-from-restrictive-locations#connecting" %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/stealth-vpn-protocol" %}
      {% include cross %}
      {% include check link="https://surfshark.com/features/stealth-vpn" %}
    </tr>
    <tr class="checker_row">
      <td>New iP Every Connection</td>
      {% include cross %}
      {% include cross %}
      {% include check %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include check link="https://safing.io/spn" %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>
        Full Device Protection
      </td>
      {% include check %}
      {% include check %}
      {% include check %}
      {% include check %}
      {% include cross tooltip="Only on Safari" link="https://support.apple.com/en-us/102602" %}
      {% include check %}
      {% include check %}
      {% include check %}
    </tr>
    <tr class="checker_row">
      <td>No Email Required</td>
      <th>
        <a href="https://www.ivpn.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/account/create" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://app.mysteriumvpn.com/login" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross link='https://nordaccount.com/signup' %}
      {% include cross link='https://support.apple.com/en-us/108647' %}
      {% include check link='https://account.proton.me/vpn/signup' %}
      {% include check link='https://account.safing.io/account/sign_up' %}
      {% include cross link='https://order.surfshark.com/?frequency=24&slug=vpn' %}
    </tr>
    <tr class="checker_row">
      <td>No Phone Number Required</td>
      <th>
        <a href="https://www.ivpn.net/en/pricing" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/account/create" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://app.mysteriumvpn.com/login" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link='https://nordaccount.com/signup' %}
      {% include cross link='https://support.apple.com/en-us/108647' %}
      {% include check link='https://account.proton.me/vpn/signup' %}
      {% include check link='https://account.safing.io/account/sign_up' %}
      {% include check link='https://order.surfshark.com/?frequency=24&slug=vpn' %}
    </tr>
    <tr>
      <th class="left-col"><br />Tracking/Analytics</th>
    </tr>
    <tr class="checker_row grayrow">
      <td>No-Log Policy</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/privacy/do-you-store-any-logs-that-could-be-used-to-identify-a-customer" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/no-logging-data-policy" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://www.mysteriumvpn.com/blog/no-log-vpn#DecentralizationTheGameChanger" target="_blank" rel="noopener noreferrer">
              Servers run by volunteers, so logging is possible
            </a>
          </span>
        </div>
      </th>
      {% include check link="https://nordvpn.com/features/strict-no-logs-policy" alt="NordVPN has a no-log policy" %}
      {% include cross tooltip="Takes minimal logs that can not be tied to your browsing activity" link="https://www.apple.com/icloud/docs/iCloud_Private_Relay_Overview_Dec2021.pdf#page=9" %}
      {% include check link="https://protonvpn.com/features/no-logs-policy" %}
      {% include check tooltip="Only first server has access to your iP address and does not take logs" link="https://safing.io/privacy/#article-2-personal-identifiable-information--data-we-collect" %}
      {% include check link="https://surfshark.com/features/no-logs" %}
    </tr>
    <th class="left-col"><br />Trust</th>
    <tr class="checker_row">
      <td>
        Independent Third Party Audit
      </td>
      <th>
        <a href="https://www.ivpn.net/en/blog/tags/audit" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/the-report-for-the-2024-security-audit-of-the-app-is-now-available"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://skynet.certik.com/projects/mysterium" target="_blank" rel="noopener noreferrer">
              Smart contract audited</a>, but not all code
          </span>
        </div>
      </th>
      {% include check link="https://nordvpn.com/blog/nordvpn-audit" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/open-source" %}
      {% include cross %}
      {% include check link="https://surfshark.com/trust-center" %}
    </tr>
    <tr class="checker_row">
      <td>
        Transparency Report
      </td>
      <th>
        <a href="https://www.ivpn.net/en/transparency-report" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include cross %}
      {% include check link="https://nordvpn.com/blog/nordvpn-introduces-transparency-reports" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/transparency-report" %}
      {% include cross %}
      {% include check link="https://surfshark.com/trust-center" %}
    </tr>
    <tr class="checker_row">
      <td>
        Warrant Canary
      </td>
      <th>
        <a href="https://www.ivpn.net/resources/canary.txt" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            Company does not have access to logs, so Warrant Canary is not necessary
          </span>
        </div>
      </th>
      {% include check link="https://nordvpn.com/blog/nordvpn-introduces-transparency-reports" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/transparency-report" %}
      {% include cross %}
      <th>
        <a href="https://surfshark.com/warrant-canary" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <!-- <tr class="checker_row">
      <td>
        Diskless Servers
      </td>
      <th>
        <a href="https://www.reddit.com/r/IVPN/comments/ju8b5d/comment/gcdepog/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/2023/9/20/we-have-successfully-completed-our-migration-to-ram-only-vpn-infrastructure"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include check link="https://nordvpn.com/blog/security-plan" %}
      {% include cross %}
      {% include cross link="https://protonvpn.com/blog/ram-only-servers" %}
      {% include check %}
      {% include check link="https://surfshark.com/blog/surfshark-upgraded-to-ram-only-servers" %}
    </tr> -->
    <!-- <tr>
      <th class="left-col"><br />Maintains Openness</th>
    </tr>
    <tr class="checker_row">
      <td>
        <div>
          Copyleft License
          <span>
            <a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">
              Copyleft licenses</a> are a type of open-source license that aim to ensure software remains free and open
            through requiring any derivative works to use the same license.
          </span>
        </div>
      </td>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span><a href="https://github.com/ivpn/desktop-app/blob/master/LICENSE.md" target="_blank"
              rel="noopener noreferrer">GPLv3</a></span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span><a href="https://github.com/mullvad/mullvadvpn-app/blob/main/LICENSE.md" target="_blank"
              rel="noopener noreferrer">GPLv3</a></span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/cross.webp" alt="cross">
          <span><a href="https://github.com/mysteriumnetwork/mysterium-vpn-desktop/blob/master/LICENSE" target="_blank"
              rel="noopener noreferrer">MIT License</a></span>
        </div>
      </th>
      {% include cross tooltip="Proprietary" %}
      {% include cross tooltip="Proprietary" %}
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span class="edge"><a href="https://github.com/ProtonVPN/ios-mac-app/blob/develop/LICENSE" target="_blank"
              rel="noopener noreferrer">GPLv3</a></span>
        </div>
      </th>
      {% include check tooltip="GPLv3" link="https://github.com/safing/portmaster/blob/develop/LICENSE" %}
      {% include cross tooltip="Proprietary" %}
    </tr> -->
    <tr>
      <th class="left-col"><br />Security</th>
    </tr>
    <tr class="checker_row">
      <td>Default Secure Protocol</td>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span>
            <a href="https://www.ivpn.net/knowledgebase/general/what-vpn-protocols-do-you-offer" target="_blank"
              rel="noopener noreferrer">
              OpenVPN and WireGuard on all platforms, with iOS additionally offering IPSec with IKEv2 connections
            </a>
          </span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span>
            <a href="https://mullvad.net/en/servers" target="_blank" rel="noopener noreferrer">
              WireGuard and OpenVPN</a>
            <a href="https://mullvad.net/en/blog/removing-openvpn-15th-january-2026" target="_blank"
              rel="noopener noreferrer">
              (Will be removed on 15th January 2026 to focus on WireGuard)
            </a>
          </span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/check.webp" alt="check">
          <span>
            <a href="https://help.mysteriumvpn.com/en/articles/8954864-what-vpn-protocols-does-the-app-support"
              target="_blank" rel="noopener noreferrer">
              WireGuard
            </a>
          </span>
        </div>
      </th>
      {% include check tooltip="OpenVPN, NordLynx(built off Wireguard) and IKEv2/IPsec" link="https://nordvpn.com/features/next-generation-encryption" %}
      {% include check tooltip="QUIC protocol" link="https://www.wired.com/story/how-apple-icloud-private-relay-works" %}
      {% include check tooltip="OpenVPN, WireGuard and Stealth" link="https://protonvpn.com/features/strong-protocols" %}
      {% include check %}
      {% include check tooltip="WireGuard, IKEv2, and OpenVPN" link="https://surfshark.com/features/surfshark-vpn-protocols" %}
    </tr>
    <tr class="checker_row">
      <td>Quantum Resistant Encryption</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/quantum-resistance-faq" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross link="https://www.wireguard.com/known-limitations/#post-quantum-secrecy" %}
      {% include cross link="https://nordvpn.com/features/next-generation-encryption" %}
      {% include cross link="https://ieeexplore.ieee.org/document/10619916" %}
      {% include cross link="https://protonmail.uservoice.com/forums/932836-proton-vpn/suggestions/47587832-use-quantum-resistant-cryptogtaphic-algorithm" %}
      {% include cross %}
      {% include check link="https://www.techradar.com/pro/vpn/post-quantum-encryption-standards-are-here-a-new-era-for-vpn-security-begins" %}
    </tr>
    <tr>
      <th class="left-col"><br />Freedom</th>
    </tr>
    <tr class="checker_row">
      <td>Custom DNS Support</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/custom-dns" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/why-mullvad-vpn" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include check %}
      {% include cross %}
      {% include dash tooltip="Supports Windows and Linux with other platforms planned" link="https://protonvpn.com/support/custom-dns" edge="" %}
      {% include cross %}
      {% include check link="https://support.surfshark.com/hc/en-us/articles/13560798718610-How-to-set-custom-DNS-on-any-device" %}
    </tr>
    <tr>
      <th class="left-col"><br />Convenience</th>
    </tr>
    <tr class="checker_row">
      <td>Split Tunneling</td>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://www.ivpn.net/knowledgebase/general/split-tunnel-faq" target="_blank"
              rel="noopener noreferrer">
              Only on Windows, MacOS and Linux
            </a>
          </span>
        </div>
      </th>
      <th>
        <div>
          <img src="../images/dash.webp" alt="dash">
          <span>
            <a href="https://mullvad.net/en/help/split-tunneling-with-the-mullvad-app" target="_blank"
              rel="noopener noreferrer">
              Not on iOS
            </a>
          </span>
        </div>
      </th>
      {% include cross %}
      {% include dash tooltip="Only on Windows and Android" link="https://nordvpn.com/features/split-tunneling" %}
      {% include dash tooltip="Can be disabled per-site" link="https://support.apple.com/en-us/102022?cid=mc-ols-icloud-article_ht213548-ios_ui-05232023" %}
      {% capture inner %}{% include link text='Only on Windows and Android'
      link="https://protonvpn.com/support/protonvpn-split-tunneling" %}{% endcapture %}
      {% include dash tooltip=inner %}
      {% include check %}
      {% include dash tooltip="Only on Windows, Android and iOS" link="https://surfshark.com/features/split-tunneling" %}
    </tr>
    <tr class="checker_row">
      <td>Dedicated iP Support</td>
      {% include cross link="https://www.ivpn.net/knowledgebase/general/do-you-offer-dedicated-or-static-ip-addresses" %}
      {% include cross link="https://mullvad.net/en/help/search?q=IP#64" %}
      {% include cross %}
      {% include check link="https://nordvpn.com/features/dedicated-ip" %}
      {% include cross %}
      {% include check tooltip="For business customers" link="https://protonvpn.com/support/dedicated-ips" %}
      {% include cross %}
      {% include check link="https://surfshark.com/dedicated-ip" %}
    </tr>
    <tr class="checker_row">
      <td>Residential iP Addresses</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/do-you-offer-dedicated-or-static-ip-addresses"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross %}
      {% include check link="https://help.mysteriumvpn.com/en/articles/8954867-does-the-vpn-offer-residential-servers" %}
      {% include cross tooltip="Does have dedicated iP support for avoiding iP blocks" %}
      {% include cross %}
      {% include cross %}
      {% include check %}
      {% include cross tooltip="Does have dedicated iP support for avoiding iP blocks" %}
    </tr>
    <tr class="checker_row">
      <td>Streaming Service Support</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/can-i-access-hulu-or-netflix-or-bbc-iplayer-using-ivpn"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/help/watching-netflix-with-split-tunneling" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://help.mysteriumvpn.com/en/articles/8954852-does-the-vpn-work-with-streaming-services"
          target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link="https://nordvpn.com/features/streaming" %}
      {% include cross link="https://www.reddit.com/r/MacOSBeta/comments/p9h89v/netflix_and_private_relay" %}
      {% include check link="https://protonvpn.com/streaming" %}
      {% include cross %}
      {% include check link="https://support.surfshark.com/hc/en-us/sections/4417084270994-Streaming" %}
    </tr>
    <tr class="checker_row">
      <td>Choose Location</td>
      <th>
        <a href="https://www.ivpn.net/en/status" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/servers" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link="https://www.mysteriumvpn.com/locations" %}
      {% include check link="https://nordvpn.com/servers" %}
      {% include cross link="https://www.macrumors.com/how-to/adjust-icloud-private-relay-settings" %}
      <th>
        <a href="https://protonvpn.com/vpn-servers" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include check link="https://wiki.safing.io/en/Portmaster/Feature" %}
      <th>
        <a href="https://surfshark.com/servers" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Torrenting Support</td>
      {% include check link="https://www.ivpn.net/knowledgebase/general/do-you-allow-p2p-or-bittorrent-or-torrents-downloading" %}
      {% include check link="https://www.top10vpn.com/guides/mullvad-torrenting" %}
      {% include check link="https://www.fahimai.com/mysterium-vs-mozilla-vpn" %}
      {% include check link="https://www.cloudwards.net/nordvpn-torrenting" %}
      {% include cross %}
      {% include check link="https://protonvpn.com/torrenting" %}
      {% include cross link="https://www.reddit.com/r/VPNTorrents/comments/1apdpnq/comment/kqv5ahb/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button" %}
      {% include check link="https://www.vpnmentor.com/blog/surfshark-for-torrenting" %}
    </tr>
    <tr class="checker_row">
      <td>Port Forwarding</td>
      <th>
        <a href="https://www.ivpn.net/knowledgebase/general/do-you-support-port-forwarding" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/removing-the-support-for-forwarded-ports" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/cross.webp" alt="cross">
        </a>
      </th>
      {% include cross %}
      {% include cross link="https://support.nordvpn.com/hc/en-us/articles/19483392309649-Does-NordVPN-offer-port-forwarding" %}
      {% include cross %}
      <th>
        <a href="https://protonvpn.com/support/port-forwarding" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include cross link="https://surfshark.com/blog/vpn-port-forwarding#vpn-clients-and-vpn-port-forwarding" %}
    </tr>
    <tr class="checker_row">
      <td>Tailscale Support</td>
      {% include cross %}
      <th>
        <a href="https://mullvad.net/en/blog/tailscale-has-partnered-with-mullvad" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr>
      <th class="left-col"><br />Ethics</th>
    </tr>
    <tr class="checker_row">
      <td>Donates to Charity</td>
      <th>
        <a href="https://www.ivpn.net/en/supported-projects" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://mullvad.net/en/blog/mullvad-becomes-highest-level-of-tor-member-shallot" target="_blank"
          rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      {% include cross %}
      {% include dash tooltip="Provides discounts and free vpns to nonprofits and eligible individuals" link="https://nordvpn.org" %}
      {% include check link="https://www.apple.com/newsroom/2021/12/apple-marks-a-year-of-giving-in-the-communities-it-calls-home" %}
      {% include check link="https://proton.me/blog/2024-lifetime-fundraiser-results" %}
      {% include cross %}
      <th>
        <a href="https://surfshark.com/corporate-social-responsibility" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Carbon Neutral</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross link="https://res.cloudinary.com/nordsec/image/upload/v1717595082/nord-security-web/corporate/reports/Impact_Report_2023_final_compressed.pdf#page=30" %}
      {% include cross tooltip="Plans to by 2030" link="https://www.apple.com/environment"  %}
      {% include cross link="https://www.reddit.com/r/ProtonMail/comments/axoo99/comment/ehwnw92/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button" %}
      {% include cross %}
      {% include cross tooltip="80% of emissions come from sustainable energy" link="https://surfshark.com/website/_next/public/files/impact-report-2023.pdf#page=16" %}
    </tr>
    <tr class="checker_row">
      <td>Carbon Negative</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross link="https://res.cloudinary.com/nordsec/image/upload/v1717595082/nord-security-web/corporate/reports/Impact_Report_2023_final_compressed.pdf#page=30" %}
      {% include cross %}
      {% include cross %}
      {% include cross %}
      {% include cross tooltip="<a href='https://surfshark.com/blog/surfshark-sustainable-future' target='_blank' rel='noopener noreferrer'>In the UN Global Compact</a>, and <a href='https://surfshark.com/blog/shark-awareness-day-2024' target='_blank' rel='noopener noreferrer'>supports shark conservation</a>"  %}
    </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <td id="Free-Services"><a href="#Free-Services">
          <h2>Free Services</h2>
        </a>
      </td>
      <th>
        <a class="service-title" href="https://orbot.app" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/orbot-logo.png" alt="Orbot Logo"><br />
          Orbot
        </a>
      </th>
      <th>
        <a class="service-title" href="https://protonvpn.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/protonvpn-logo.webp" alt="Proton VPN Logo"><br />
          Proton
        </a>
      </th>
      <th>
        <a class="service-title" href="https://windscribe.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/logos/windscribe-logo.webp" alt="Windscribe Logo"><br />
          Windscribe
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Platform</td>
      <th class="engine">{% include link text='MacOS'
        link='https://apps.apple.com/us/app/orbot/id1609461599?platform=mac' %}<br />
        {% include link text='iOS' link='https://apps.apple.com/us/app/orbot/id1609461599?platform=iphone' %} &<br />
        {% include link text='Android'
        link='https://play.google.com/store/apps/details?id=org.torproject.android&hl=en_US' %}
      </th>
      <th class="engine">{% include link text='Desktop' link='https://protonvpn.com/download' %}<br />
        {% include link text='TV' link='https://protonvpn.com/download' %} &<br />
        {% include link text='Mobile' link='https://protonvpn.com/download' %}
      </th>
      <th class="engine">{% include link text='Desktop' link='https://windscribe.com/download' %}<br />
        {% include link text='TV' link='https://windscribe.com/download' %} &<br />
        {% include link text='Mobile' link='https://windscribe.com/download' %}
      </th>
    </tr>
    <tr>
      <th class="left-col"><br />Privacy</th>
    </tr>
    <tr class="checker_row">
      <td>
        <a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">
          Open Source</a> Apps
      </td>
      <th>
        <a href="https://orbot.app/en/code" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/ProtonVPN" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
      <th>
        <a href="https://github.com/windscribe" target="_blank" rel="noopener noreferrer">
          <img src="../images/check.webp" alt="check">
        </a>
      </th>
    </tr>
    <tr class="checker_row">
      <td>Kill Switch</td>
      {% include dash tooltip="Only on Android through system settings" %}
      {% include check link="https://protonvpn.com/features/kill-switch" %}
      {% include check %}
    </tr>
    <tr class="checker_row">
      <td>Auto Connect</td>
      {% include check %}
      {% include check link="https://protonvpn.com/support/always-on-vpn" %}
      {% include check %}
    </tr>
    <tr class="checker_row">
      <td>Double Hop</td>
      {% include check link="https://orbot.app/en/about" %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Triple Hop</td>
      {% include check link="https://orbot.app/en/about" %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Ai Traffic Analysis Blocking</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Ad and Tracker Blocker</td>
      {% include cross %}
      {% include cross link="https://protonvpn.com/support/netshield" %}
      {% include check link="https://windscribe.com/features/robert" %}
    </tr>
    <tr class="checker_row">
      <td>Perfect Forward Secrecy</td>
      {% include check %}
      {% include check link="https://protonvpn.com/features/forward-secrecy" %}
      {% include check link="https://windscribe.com/features/strongest-encryption" %}
    </tr>
    <tr class="checker_row">
      <td>Hide VPN Usage on Network</td>
      {% include dash tooltip="Bridges supported only on Android" %}
      {% include check tooltip="Supports stealth protocols" link="https://protonvpn.com/blog/stealth-vpn-protocol" %}
      {% include check tooltip="Supports stealth protocols" link="https://windscribe.com/features/circumvent-censorship" %}
    </tr>
    <tr class="checker_row">
      <td>New iP Every Connection</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Full Device Protection</td>
      {% include check %}
      {% include check %}
      {% include check %}
    </tr>
    <tr class="checker_row">
      <td>No Email Required</td>
      {% include check %}
      {% include check link="https://account.proton.me/vpn/signup" %}
      {% include check link="https://windscribe.com/signup" %}
    </tr>
    <tr class="checker_row">
      <td>No Phone Number Required</td>
      {% include check %}
      {% include check link="https://account.proton.me/vpn/signup" %}
      {% include check link="https://windscribe.com/signup" %}
    </tr>
    <tr class="checker_row">
      <td>No Account Required</td>
      {% include check %}
      {% include dash tooltip="Currently only on Android" link="https://news.itsfoss.com/protonvpn-no-account" %}
      {% include cross %}
    </tr>
    <tr>
      <th class="left-col"><br />Tracking/Analytics</th>
    </tr>
    <tr class="checker_row">
      <td>No Log Policy</td>
      {% include check tooltip="Company does not log, and three hop structure mitigates logging attacks" %}
      {% include check link="https://protonvpn.com/features/no-logs-policy" %}
      {% include check link="https://windscribe.com/knowledge-base/articles/do-you-log-data-on-free-accounts" %}
    </tr>
    <th class="left-col"><br />Trust</th>
    <!-- <tr class="checker_row">
      <td>
        <div>
          Copyleft License
          <span>
            <a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">
              Copyleft licenses</a> are a type of open-source license that aim to ensure software remains free and open
            through requiring any derivative works to use the same license.
          </span>
        </div>
      </td>
      {% include cross tooltip="BSD-3 License" link="https://github.com/guardianproject/orbot-android/blob/master/LICENSE" %}
      {% include check tooltip="GPLv3" link="https://github.com/ProtonVPN/ios-mac-app/blob/develop/LICENSE" %}
      {% include check tooltip="GPLv2" link="https://github.com/Windscribe/Desktop-App/blob/master/LICENSE" %}
    </tr> -->
    <tr class="checker_row">
      <td>
        Independent Third Party Audit
      </td>
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/open-source" %}
      {% include check link="https://windscribe.com/blog/freshscribe-next-generation-vpn-infrastructure-2" %}
    </tr>
    <tr class="checker_row">
      <td>
        Transparency Report
      </td>
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/transparency-report" %}
      {% include check link="https://windscribe.com/transparency" %}
    </tr>
    <tr class="checker_row">
      <td>
        Warrant Canary
      </td>
      {% include cross %}
      {% include check link="https://protonvpn.com/blog/transparency-report" %}
      {% include cross %}
    </tr>
    <!-- <tr class="checker_row">
      <td>
        Diskless Servers
      </td>
      {% include cross %}
      {% include cross link="https://protonvpn.Zcom/blog/ram-only-servers" %}
      {% include check link="https://windscribe.com/blog/nodeos-booting-from-ram" %}
    </tr> -->
    <tr>
      <th class="left-col"><br />Security</th>
    </tr>
    <tr class="checker_row">
      <td>Default Secure Protocol</td>
      {% include check link="https://wiki.wireshark.org/Tor" %}
      {% include check tooltip="OpenVPN, WireGuard and Stealth" link="https://protonvpn.com/features/strong-protocols" %}
      {% include check tooltip="IKEv2, WireGuard, OpenVPN (UDP & TCP) and Stealth" link="https://windscribe.com/knowledge-base/articles/what-protocols-are-available-with-windscribe" %}
    </tr>
    <tr class="checker_row">
      <td>Quantum Resistant Encryption</td>
      {% include cross %}
      {% include cross link="https://protonmail.uservoice.com/forums/932836-proton-vpn/suggestions/47587832-use-quantum-resistant-cryptogtaphic-algorithm" %}
      {% include check link="https://windscribe.com/blog/the-vpn-relationship-map-2023" %}
    </tr>
    <tr>
      <th class="left-col"><br />Freedom</th>
    </tr>
    <tr class="checker_row grayrow">
      <td>Custom DNS Support</td>
      {% include cross %}
      {% include cross link="https://protonvpn.com/support/custom-dns" %}
      {% include check link="https://windscribe.com/knowledge-base/articles/how-to-use-custom-dns-in-the-windscribe-app" %}
    </tr>
    <tr>
      <th class="left-col"><br />Convenience</th>
    </tr>
    <tr class="checker_row">
      <td>Unlimited Bandwidth</td>
      {% include cross %}
      {% include cross link="https://protonvpn.com/support/dedicated-ips" %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Split Tunneling</td>
      {% include dash tooltip="Supported on Android" %}
      {% include cross link="https://protonvpn.com/support/protonvpn-split-tunneling" %}
      {% include dash tooltip="Not on iOS and Linux" link="https://windscribe.com/features/split-tunneling" %}
    </tr>
    <tr class="checker_row">
      <td>Dedicated iP Support</td>
      {% include cross %}
      {% include cross link="https://protonvpn.com/support/dedicated-ips" %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Residential iP Addresses</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Streaming Service Support</td>
      {% include cross %}
      {% include cross %}
      {% include check tooltip="Seems to work well with streaming services" link="https://www.tomsguide.com/reviews/windscribe-vpn-review#section-how-good-is-windscribe-for-streaming" %}
    </tr>
    <tr class="checker_row">
      <td>Choose Location</td>
      {% include check tooltip="Users can select exit countries in settings" %}
      {% include cross %}
      {% include check link="https://windscribe.com/status" %}
    </tr>
    <tr class="checker_row">
      <td>Torrenting Support</td>
      {% include cross link="https://blog.torproject.org/bittorrent-over-tor-isnt-good-idea" %}
      {% include cross link="https://protonvpn.com/torrenting" %}
      {% include check link="https://www.top10vpn.com/guides/windscribe-torrenting" %}
    </tr>
    <tr class="checker_row">
      <td>Port Forwarding</td>
      {% include cross %}
      {% include cross link="https://protonvpn.com/support/port-forwarding" %}
      {% include cross link="https://windscribe.com/features/port-forwarding" %}
    </tr>
    <tr class="checker_row">
      <td>Tailscale Support</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
    <tr>
      <th class="left-col"><br />Ethics</th>
    </tr>
    <tr class="checker_row">
      <td>Donates to Charity</td>
      {% include dash tooltip="Funded almost entirely by grants and donations. Donate Here" link="https://orbot.app/en/donate" %}
      {% include check link="https://proton.me/blog/2024-lifetime-fundraiser-results" %}
      {% include dash tooltip="Provides free pro subscriptions to journalists and NGOs" link="https://windscribe.com/blog/freedom-of-the-press" %}
    </tr>
    <tr class="checker_row">
      <td>Carbon Neutral</td>
      {% include cross %}
      {% include cross link="https://www.reddit.com/r/ProtonMail/comments/axoo99/comment/ehwnw92/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button" %}
      {% include cross %}
    </tr>
    <tr class="checker_row">
      <td>Carbon Negative</td>
      {% include cross %}
      {% include cross %}
      {% include cross %}
    </tr>
  </tbody>
</table>