---
layout: comparison
title: YouTube Frontend
permalink: youtube-frontends
description: Comparisons of YouTube frontends to find one that works for you
---

  <p>
    YouTube Frontends are applications that can be run on-device 
    or on a server. Frontends mimic Youtube's native app or site with 
    more privacy, no ads, and sometimes new features.<br /><br />
  </p>
  <table>
    <thead>
      <tr>
        <td id="Applications"><a href="#Applications">
          <h2>Applications</h2></a>
        </td>
        <th>
          <a href="https://FreeTubeApp.io" target="_blank" rel="noopener noreferrer">
            <img style="border-radius: 0;" src="../images/logos/freetube-logo.png" alt="Freetube Logo"><br /> Freetube 
          </a>
        </th>
        <th>
          <a href="https://libretube.dev" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/libretube-logo.webp" alt="Libretube Logo"><br /> Libretube
          </a>
        </th>
        <th>
          <a href="https://newpipe.net" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/newpipe-logo.webp" alt="Newpipe Logo"><br /> NewPipe
          </a>
        </th>
        <th>
          <a href="https://smarttubeapp.github.io" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/smarttube-logo.png" alt="SmartTube Logo"><br /> SmartTube
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Platforms</td>
        <th class="engine">{% include link text='Desktop' link='https://freetubeapp.io/#download' %}</th>
        <th class="engine">{% include link text='Android' link='https://f-droid.org/en/packages/com.github.libretube' %}</th>
        <th class="engine">{% include link text='Android' link='https://newpipe.net/#download' %}</th>
        <th>{% include link text='TV' link='https://smarttubeapp.github.io' %}</th>
      </tr>
      <tr>
        <th class="left-col"><br />Privacy</th>
      </tr>
      <tr class="checker_row">
        <td><a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">Open Source</a></td>
        <th><a href="https://github.com/FreeTubeApp/FreeTube" target="_blank" rel="noopener noreferrer"><img src="../images/check.webp"
              alt="check"></a></th>
        <th><a href="https://github.com/libre-tube/LibreTube" target="_blank" rel="noopener noreferrer"><img src="../images/check.webp"
              alt="check"></a></th>
        <th><a href="https://github.com/TeamNewPipe/NewPipe" target="_blank" rel="noopener noreferrer"><img src="../images/check.webp"
              alt="check"></a></th>
        <th><a href="https://github.com/yuliskov/SmartTube" target="_blank" rel="noopener noreferrer"><img src="../images/check.webp"
              alt="check"></a></th>
      </tr>
      <tr class="checker_row">
        <td>No ip leak to Youtube</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr>
        <th class="left-col"><br />Independence/Trust</th>
      </tr>
      <tr class="checker_row">
        <td>
          <div>
          Copyleft License
          <span><a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">Copyleft licenses</a> are a type of<br />open-source license that aim<br />to ensure software remains free<br />and open through requiring any<br />derivative works to use the same license.</span>
          </div>
        </td>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span><a href="https://github.com/FreeTubeApp/FreeTube/blob/development/LICENSE" target="_blank" rel="noopener noreferrer">AGPLv3</a></span>
          </div>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span><a href="https://github.com/libre-tube/LibreTube/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">GPLv3</a></span>
          </div>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span><a href="https://github.com/TeamNewPipe/NewPipe/blob/dev/LICENSE" target="_blank" rel="noopener noreferrer">GPLv3</a></span>
          </div>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span><a href="https://github.com/yuliskov/SmartTube/blob/master/LICENSE.md" target="_blank" rel="noopener noreferrer">GPLv3</a></span>
          </div>
        </th>
      </tr>
      <tr>
        <th class="left-col"><br />Freedom</th>
      </tr>
      <tr class="checker_row">
        <td>Watch on <a href="https://odysee.com" target="_blank" rel="noopener noreferrer">Odysee</a> button</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr>
        <th class="left-col"><br />Convenience</th>
      </tr>
      <tr class="checker_row">
        <td>Subscriptions</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td><a href="https://github.com/ajayyy/SponsorBlock" target="_blank" rel="noopener noreferrer">Sponsorblock</a></td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Import/Export</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>DeArrow</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Multi-Account</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td><a href="https://github.com/Anarios/return-youtube-dislike" target="_blank" rel="noopener noreferrer">Return Dislikes</a></td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Block Channels</td>
        <th><a href="https://github.com/FreeTubeApp/FreeTube/pull/4202" target="_blank" rel="noopener noreferrer"><img
              src="../images/check.webp" alt="check"></a></th>
        <th><a href="https://github.com/libre-tube/LibreTube/issues/1173#issuecomment-1235741040" target="_blank" rel="noopener noreferrer"><img
              src="../images/cross.webp" alt="cross"></a></th>
        <th><a href="https://github.com/TeamNewPipe/NewPipe/issues/1815" target="_blank" rel="noopener noreferrer"><img
              src="../images/cross.webp" alt="cross"></a></th>
        <th><a href="https://github.com/yuliskov/SmartTube/issues/3978" target="_blank" rel="noopener noreferrer"><img
              src="../images/cross.webp" alt="cross"></a></th>
      </tr>
      <tr class="checker_row">
        <td>Mute words</td>
        <th><a href="https://github.com/FreeTubeApp/FreeTube/pull/4202" target="_blank" rel="noopener noreferrer"><img
              src="../images/check.webp" alt="check"></a></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><a href="https://github.com/TeamNewPipe/NewPipe/issues/1815" target="_blank" rel="noopener noreferrer"><img
              src="../images/cross.webp" alt="cross"></a></th>
        <th><a href="https://github.com/yuliskov/SmartTube/issues/3978" target="_blank" rel="noopener noreferrer"><img
              src="../images/cross.webp" alt="cross"></a></th>

      </tr>
      <tr class="checker_row">
        <td>Download Videos</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
    </tbody>
  </table>
  <p>
    <strong>
      *Web frontends on popular instances are prone to breakage, so I 
      recommend using a less popular instance, self hosting or using 
      an application.<br /><br />
    </strong>
  </p>
  <table>
    <thead>
      <tr>
        <td id="Web"><a href="#Web">
          <h2>Web</h2></a>
        </td>
        <th>
          <a class="service-title" href="https://tube.cadence.moe" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/cloudtube-logo.webp" alt="Cloudtube Logo"><br />
            Cloudtube
          </a>
        </th>
        <th>
          <a class="service-title" href="https://invidious.io" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/invidious-logo.webp" alt="Invidious Logo"><br />
            Invidious
          </a>
        </th>
        <th>
          <a class="service-title" href="https://github.com/TeamPiped/Piped/wiki/Instances" target="_blank" rel="noopener noreferrer">
            <img src="../images/logos/piped-logo.svg" alt="Piped Logo"><br />
            Piped
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="left-col"><br />Privacy</th>
      </tr>
      <tr class="checker_row">
        <td>
          <a href="https://www.ibm.com/topics/open-source" target="_blank" rel="noopener noreferrer">
            Open Source
          </a>
        </td>
        <th>
          <a href="https://git.sr.ht/~cadence/cloudtube" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th>
          <a href="https://github.com/iv-org/invidious" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th>
          <a href="https://github.com/TeamPiped/Piped" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>

      </tr>
      <tr class="checker_row">
        <td>Javascript Optional</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <div><img src="../images/check.webp" alt="check"
             >
            <span>no comments</span>
          </div>
        </th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr class="checker_row">
        <td>No ip leak to Youtube</td>
        <th><a href="https://tube.cadence.moe/privacy" target="_blank" rel="noopener noreferrer">
          <img src="../images/cross.webp"
              alt="cross">
          </a>
        </th>
        <th>
          <div><img src="../images/dash.webp" alt="check">
            <span>depends on instance: usually disabled by default</span>
          </div>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr>
        <th class="left-col"><br />Independence/Trust</th>
      </tr>
        <tr class="checker_row">
        <td>
          <div>
            Copyleft License
            <span><a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank" rel="noopener noreferrer">
              Copyleft licenses</a> are a type of open-source license that aim to ensure software remains free and open through requiring any derivative works to use the same license.
            </span>
          </div>
        </td>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>
              <a href="https://tube.cadence.moe/licenses" target="_blank" rel="noopener noreferrer">
                AGPLv3
              </a>
            </span>
          </div>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>
              <a href="https://github.com/iv-org/invidious/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">
                AGPLv3
              </a>
            </span>
          </div>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>
              <a href="https://github.com/TeamPiped/Piped/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">
              AGPLv3
              </a>
            </span>
          </div>
        </th>
      </tr>
      <tr class="checker_row">
        <td>Self Hostable</td>
        <th>
          <a href="https://git.sr.ht/~cadence/tube-docs/tree/main/item/docs/cloudtube/Installing%20CloudTube.md" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th>
          <a href="https://docs.invidious.io/installation" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
        <th>
          <a href="https://docs.piped.video/docs/self-hosting" target="_blank" rel="noopener noreferrer">
            <img src="../images/check.webp" alt="check">
          </a>
        </th>
      </tr>
      <tr>
        <th class="left-col"><br />Freedom</th>
      </tr>
      <tr class="checker_row grayrow">
        <td>
          Watch on <a href="https://odysee.com" target="_blank" rel="noopener noreferrer">
          Odysee</a> button
        </td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th>
          <div><img src="../images/dash.webp" alt="dash">
            <span>
              <a href="https://github.com/TeamPiped/Piped/issues/3059" target="_blank" rel="noopener noreferrer">
              currently broken
              </a>
            </span>
          </div>
        </th>
      </tr>
      <tr>
        <th class="left-col"><br />Convenience</th>
      </tr>
      <tr class="checker_row">
        <td>Subscriptions</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>requires account</span>
          </div>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Comments</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Built in <a href="https://github.com/ajayyy/SponsorBlock" target="_blank" rel="noopener noreferrer">
          Sponsorblock</a>
        </td>
        <th>
          <div><img src="../images/cross.webp" alt="cross">
            <span><a href="https://github.com/ajayyy/SponsorBlock">
              With extension
              </a>
            </span>
          </div>
        </th>
        <th>
          <div><img src="../images/cross.webp" alt="cross">
            <span><a href="https://github.com/ajayyy/SponsorBlock" target="_blank" rel="noopener noreferrer">
              With extension
            </span>
          </div>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Subscriptions RSS</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Per Channel RSS</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Account Sync</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Import/Export</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>DeArrow</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Custom playlists</td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Watch History</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>
              Requires account
            </span>
          </div>
        </th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span class="edge">
              Stored locally
            </span>
          </div>
        </th>
      </tr>
      <tr class="checker_row">
        <td>
          <a href="https://github.com/Anarios/return-youtube-dislike" target="_blank" rel="noopener noreferrer">
            Return Dislikes
          </a>
        </td>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr class="checker_row">
        <td>Block Channels</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr class="checker_row">
        <td>Mute words</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
        <th><img src="../images/cross.webp" alt="cross"></th>
      </tr>
      <tr class="checker_row">
        <td>Download Videos</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>Depends on instance</span>
          </div>
        </th>
        <th><img src="../images/check.webp" alt="check"></th>
      </tr>
      <tr>
        <th class="left-col"><br />Usability</th>
      </tr>
      <tr class="checker_row">
        <td>Supports ancient browsers</td>
        <th><img src="../images/check.webp" alt="check"></th>
        <th><img src="../images/check.webp" alt="check"></th>
        <th>
          <div><img src="../images/check.webp" alt="check">
            <span>
              <a href="https://github.com/davidcollini/YouTube-Frontend-Comparison/pull/4#issuecomment-1279854489" target="_blank" rel="noopener noreferrer">
                not abandoned browsers
              </a>
            </span>
          </div>
        </th>
      </tr>
    </tbody>
  </table>