<div class="Chart-list">
    <button>Other Comparisons</button>
    <div>
        <a href="./browsers.html" 
        {% if page.title contains "Browser" %}
        class="Chart-list-selected"
        {% endif %}
        >Web Browsers</a>
        <a href="./music.html"
        {% if page.title contains "Music App" %}
        class="Chart-list-selected"
        {% endif %}
        >Music Apps</a>
        <a href="./operating-systems.html"
        {% if page.title contains "Operating System" %}
        class="Chart-list-selected"
        {% endif %}
        >Operating Systems</a>
        <a href="./photos.html"
        {% if page.title contains "Photo App" %}
        class="Chart-list-selected"
        {% endif %}
        >Photo Apps</a>
        <a href="./search-engines.html"
        {% if page.title contains "Search Engine" %}
        class="Chart-list-selected"
        {% endif %}
        >Search Engines</a>
        <a href="./vpns.html"
        {% if page.title contains "VPN" %}
        class="Chart-list-selected"
        {% endif %}
        >VPNs</a>
        <a href="./youtube-frontends.html"
        {% if page.title contains "YouTube Frontend" %}
        class="Chart-list-selected"
        {% endif %}
        >Youtube Frontends</a>
    </div>
</div>