<div class="Chart-list">
    <a href="./browsers.html" 
    {% if page.title contains "Browser" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >Browsers</a>
    <a href="./music.html"
    {% if page.title contains "Music App" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >Music</a>
    <a href="./operating-systems.html"
    {% if page.title contains "Operating System" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >Operating Systems</a>
    <a href="./photos.html"
    {% if page.title contains "Photo App" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >Photos</a>
    <a href="./searchengines.html"
    {% if page.title contains "Search Engine" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >Search Engines</a>
    <a href="./vpns.html"
    {% if page.title contains "VPN" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >VPNs</a>
    <a href="./youtubefrontends.html"
    {% if page.title contains "YouTube Frontend" %}
    style="text-decoration: underline; color: var(--stark);"
    {% endif %}
    >YoutubeFrontends</a>
</div>