<div class="Chart-list">
    <button>Other Comparisons</button>
    <div>
        <a href="./browsers" 
            {% if page.title contains "Browser" %}
            class="Chart-list-selected"
            {% endif %}
            >Web Browsers
        </a>
        <a href="./email-services"
            {% if page.title contains "Email Service" %}
            class="Chart-list-selected"
            {% endif %}
            >Email Services
        </a>
        <a href="./messaging-apps"
            {% if page.title contains "Messaging App" %}
            class="Chart-list-selected"
            {% endif %}
            >Messaging Apps
        </a>
        <a href="./music-apps"
            {% if page.title contains "Music App" %}
            class="Chart-list-selected"
            {% endif %}
            >Music Apps
        </a>
        <a href="./operating-systems"
            {% if page.title contains "Operating System" %}
            class="Chart-list-selected"
            {% endif %}
            >Operating Systems
        </a>
        <a href="./photo-apps"
            {% if page.title contains "Photo App" %}
            class="Chart-list-selected"
            {% endif %}
            >Photo Apps
        </a>
        <a href="./search-engines"
            {% if page.title contains "Search Engine" %}
            class="Chart-list-selected"
            {% endif %}
            >Search Engines
        </a>
        <a href="./vpns"
            {% if page.title contains "VPN" %}
            class="Chart-list-selected"
            {% endif %}
            >VPNs
        </a>
        <a href="./youtube-frontends"
            {% if page.title contains "YouTube Frontend" %}
            class="Chart-list-selected"
            {% endif %}
            >Youtube Frontends
        </a>
    </div>
</div>