<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href="./images/swc-logos/software-compare-128px.ico">
    <meta name="description" content="Objective comparisons of software to help you find the best applications for you">
    <meta property="og:image" content="../images/link-previews/browser-comparison-photo.webp">
    <meta property="og:title" content="Find software that's best for you">
    <a style="display: none" rel="me" href="https://fosstodon.org/@softwarecompare">Mastodon</a>
  
    <title>Software Compare</title>
    <script>
      // Get and set theme immediately
      const theme = localStorage.getItem('theme') || 
          (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
      if (theme === 'dark') {
          document.documentElement.classList.add('dark-mode');
      }
    </script>
    <link href="./styles/style.css" rel="stylesheet">
</head>