.nav.open {
  display: block;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header div {
  /* logo */
  display: flex;
  align-items: center;
  z-index: 2;
}

.header img {
  /* logo image */
  width: 64px;
  height: 64px;
  margin-right: 10px;
  z-index: 2;
}

.logo-title {
  margin: 0;
  z-index: 2;
  text-decoration: none;
  color: black;
}

tbody .checker_row:nth-child(even) {
  background-color: #f1f1f1;
}

.header button {
  /* mobile dropdown */
  display: none;
  background: none;
  border: none;
  font-size: 29px;
  cursor: pointer;
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  /* links in top right and dropdown */
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

thead img {
  height: 30px;
  border-radius: 16%;
}

.edge {
  overflow-wrap: anywhere !important;
  transform: translate(-5em, -12px) !important;
}

.checker_row th:last-child pre {
  overflow-wrap: anywhere !important;
  transform: translate(-5em, -12px) !important;
}

.checker_row th:nth-last-child(2) pre{
  overflow-wrap: anywhere !important;
  transform: translate(-5em, -12px) !important;
}

.checker_row th a {
  border-bottom: 1px solid rgb(174, 174, 174);
}
.checker_row img {
  height: 20px;
}
thead a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: normal;
  background-color: #fff;
  font-size: 12px;
}

/* Mobile styles */
@media only screen and (max-width: 525px) {
  .header button {
    /* mobile dropdown toggle */
    display: block;
    color: black;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 0px;
    top: 50px;
    justify-content: center;
    background-color: #f1f1f1;
    visibility: collapse;
    transition: all 0.4s;
    z-index: 5;
    overflow: hidden;
    padding: 0px;
  }

  .open {
    visibility: visible;
    height: 35vh;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    z-index: 5;
  }

  .nav li {
    margin: 20px 0;
  }

  .link-header {
    font-size: 24px;
  }

  table {
    font-size: 12px;
  }

  thead a {
    /* Service Title */
    font-size: 10px;
  }

  thead img {
    /* Service Logo */
    height: 25px;
  }

  td {
    font-size: 15px;
    min-width: 40px;
  }

  .checker_row img {
    height: 18px;
  }

  .engine {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
  .Chart-list a {
    font-size: 15px;
  }

  @media only screen and (max-width: 480px) {
    thead a {
      /* Service Title */
      font-size: 8px;
    }
    thead img {
      /* Service Logo */
      height: 23px;
    }
    h1 {
      font-size: 28px;
    }
    .engine {
      font-size: 12px;
    }
    .checker_row img {
      height: 16px;
    }
    td {
      font-size: 14px;
      min-width: 40px;
    }

    @media only screen and (max-width: 450px) {
      thead a {
        /* Service Title */
        font-size: 7px;
      }
      thead img {
        /* Service Logo */
        height: 21px;
      }
      h1 {
        font-size: 26px;
      }
      .Chart-list a {
        font-size: 14px;
      }
      .engine {
        font-size: 10px;
      }
      .checker_row img {
        height: 14px;
      }
      td {
        font-size: 13px;
        min-width: 40px;
      }

      @media only screen and (max-width: 420px) {
        thead a {
          /* Service Title */
          font-size: 7px;
        }
        thead img {
          /* Service Logo */
          height: 21px;
        }
        h1 {
          font-size: 24px;
        }
        .engine {
          font-size: 8px;
        }
        .checker_row img {
          height: 12px;
        }
        td {
          font-size: 12px;
          min-width: 40px;
        }
        
      }
    }
  }
}

thead {
  /*top bar on table */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.checker_row div {
  /* wrapper around tooltip */
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(68, 68, 68);
  color: white;
  text-align: center;
}

.checker_row div a {
  /* links in tooltip */
  color: white;
  border-bottom: 0px;
}

.checker_row pre {
  /* tooltip box */
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
  color: #fff;
  flex-direction: column;
  min-width: 50px;
  padding: 5px;
  position: absolute;
  visibility: collapse;
  text-align: start;
  transform: translate(0px, -12px);
  width: fit;
  z-index: 1;
}

.checker_row div:active {
  /* when tooltip is hovered */
  visibility: visible;
}

.Chart-list a {
  /* Links under header at top of page */
  text-decoration: none;
  padding-left: 10px;
}

.checker_row td a {
  color: rgb(0, 0, 0);
}

.homepagelink {
  text-decoration: none;
}

.greyrow {
  background-color: #f1f1f1;
}

table {
  border-collapse: collapse;
  max-width: 1080px;
  width: 100vw;
  margin: 0 auto;
}

body {
  max-width: 1080px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto !important;
  float: none !important;

}

td {
  min-width: 100px;
  width: 60px;
  height: 25px;
}

th {
  min-width: 5px;

  width: 10%;
  height: 25px;
}

h1 {
  padding-left: 10px;
}

p {
  padding-left: 10px;
}

h2 {
  padding-left: 10px;
}

h3 {
  padding-left: 10px;

}

.code {
  max-width: 80vw;
  overflow-wrap: anywhere;
  overflow: auto;
}