
        .header {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 4px 2px;
        }
        .header a {
            float: left;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }
        .header-right {
            float: right;
            height: 75px;
            margin: auto; 
            display: flex; 
            align-items: center;
        }
        .logo {
            float: left;
            height: 75px;
            margin: auto; 
            display: flex; 
            align-items: center;
            flex-direction: row;
            font-size: 56px;
            padding-right: 16px;
            font-weight: bold;
            margin: 0px-1px;
            text-align:left;
            padding-left: 0px;
        }
        .logo-title {
            float: left;
            height: 75px;
            margin: auto; 
            display: flex; 
            align-items: center;   
        }
        .service-title {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: normal;
        }
